<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row mb-2">
                    <div class="col-md-6 align-middle">
                        <h4 class="card-title">Listado de minutas</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button routerLink="/herramientas/minutas/0" class="btn btn-info "> <i class="fa fa-plus"></i>
                            Nueva minuta
                        </button>
                    </div>
                    <div class="col-md-12 p-2">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="search" class="input-group-text bg-white">
                                    <span class="bg-white" style="border-right:none">
                                        <i class="ti-search"></i>
                                    </span>
                                </label>
                            </div>
                            <input [(ngModel)]="Search" (keyup)="getMinutas()" type="text"
                                style="border-left:none !important;" class="form-control" placeholder="Buscar">
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class=" col-md-12 table-responsive">

                        <table class="table table-striped">
                            <thead>


                                <tr>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Fecha Inicio </th>
                                    <th scope="col">Fecha Fin </th>
                                    <th scope="col">Estatus</th>
                                    <th scope="col">Responsable</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let minuta of minutas$ | async">
                                    <th scope="row">{{minuta.titulo}}</th>
                                    <td>{{minuta.fechaInicio}}</td>
                                    <td>{{minuta.fechaFinal}}</td>
                                    <td>{{minuta.estatus}}</td>
                                    <td>{{minuta.responsable}}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" (click)="openAcciones(AccionesModal,minuta.id)"
                                                class="btn btn-sm btn-success">Acciones</button>
                                            <button type="button" routerLink="/herramientas/minutas/{{minuta.id}}"
                                                class="btn btn-sm btn-info"><i class="fa fa-search"></i> </button>
                                            <button type="button" routerLink="/herramientas/minutas/{{minuta.id}}"
                                                class="btn btn-sm btn-info"><i class="fa fa-pencil-alt"></i></button>
                                            <button type="button" class="btn btn-sm btn-danger"><i
                                                    class="fa fa-trash-alt"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <app-loading-listado [hidden]="!Cargando"></app-loading-listado>



                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual"
                                [pageSize]="paginaSize" [maxSize]="5" [boundaryLinks]="true"
                                (pageChange)="getMinutas()">
                            </ngb-pagination>

                            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                                (change)="getMinutas()">
                                <option [ngValue]="5">5 registro por pagina</option>
                                <option [ngValue]="10">10 registro por pagina</option>
                                <option [ngValue]="15">15 registro por pagina</option>
                            </select>
                        </div>
                    </div>



                </div>



            </div>
        </div>
    </div>
</div>

<ng-template #AccionesModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Acciones </h4>
        <button *ngIf="!ShowFormAcciones" type="button" class="btn btn-info " aria-label="Close"
            (click)="createNewAcciones()">
            <i class="fa fa-plus"></i>
        </button>
        <button *ngIf="ShowFormAcciones" type="button" class="btn btn-info " aria-label="Close"
            (click)="backAcciones()">
            <i class="fa fa-arrow-left"></i>
        </button>
    </div>

    <form class="" [formGroup]="Formulario" (ngSubmit)="onSubmit()">
        <div class="modal-body">

            <div *ngIf="!ShowFormAcciones" class="row">
                <div class=" col-md-12 table-responsive">

                    <table class="table table-striped">
                        <thead>

                            <tr>
                                <th scope="col">Accion</th>
                                <th scope="col">Asignado</th>
                                <th scope="col">Seccion</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Fecha Fin</th>
                                <th scope="col">Estatus</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let accion of accionMinutas$ | async">
                                <th scope="row">{{accion.accion}}</th>
                                <th>{{accion.asignado}}</th>
                                <td>{{accion.seccion}}</td>
                                <th>{{accion.fechaInicio}}</th>
                                <td>{{accion.fechaFin}}</td>
                                <td>{{accion.estatus}}</td>

                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button (click)="EditAcciones(accion)" type="button" class="btn btn-sm btn-info"><i
                                                class="fa fa-pencil-alt"></i></button>
                                        <button type="button" class="btn btn-sm btn-danger"><i
                                                class="fa fa-trash-alt"></i></button>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" *ngIf="ShowFormAcciones">


                <div class="col-12">
                    <div class="form-group">
                        <label for="Accion">Accion</label>
                        <input formControlName="accion" type="text" class="form-control" id="Accion"
                            aria-describedby="Accion" placeholder="Enter Accion">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Seccion">Seccion</label>
                        <ng-select id="Seccion" [items]="SeccionCombo" bindLabel="nombre" bindValue="codigo"
                            formControlName="seccionId" notFoundText="No resultados" [loading]="loadingSeccionCombo">
                        </ng-select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Asignado">Asignado</label>
                        <ng-select id="Asignado" formControlName="asignadoId" [items]="AsignadoCombo" bindLabel="nombre"
                            [loading]="loadingAsignadoCombo" bindValue="codigo" notFoundText="No resultados">
                        </ng-select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="fechaInicio">Fecha Inicio</label>
                        <ejs-datepicker formControlName="fechaInicio" [format]="'dd-MM-yyyy'"></ejs-datepicker>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fechaFin">Fecha Final</label>
                        <ejs-datepicker formControlName="fechaFin" [format]="'dd-MM-yyyy'"></ejs-datepicker>

                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Estados">Estado</label>
                        <ng-select id="Estados" formControlName="estatus" [items]="EstadosCombo" bindLabel="nombre"
                            [loading]="loadingEstadosCombo" bindValue="nombre" notFoundText="No resultados">
                        </ng-select>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button *ngIf="ShowFormAcciones && !btnGuardarCargando" type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Guardar </button>
            <!-- boton cargando -->
            <button *ngIf="ShowFormAcciones && btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                <span class="spinner-border spinner-border-sm"></span> Guardando
            </button>
            <button *ngIf="ShowFormAcciones" type="button" class="btn btn-danger"
                (click)="modal.close('Save click')">Cancel</button>
            <button *ngIf="!ShowFormAcciones" type="button" class="btn btn-info"
                (click)="modal.close('Save click')">Cerrar</button>
        </div>
    </form>
</ng-template>