<div class="row">
    <div class="control-section">
        <div id="control_wrapper">
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-12">
                        <h4 class="card-title">Formulario de recall</h4>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 text-right">
                    </div>
                </div>
                <!--<h6 class="card-subtitle">Just add <code>form-material</code> class to the form that's it.</h6>-->
                <form class="form-row m-t-40" [formGroup]="Formulario" (ngSubmit)="onSubmit()">

                    <div class="form-group col-md-6">
                        <label for="codigoReferencia"> <i class="fa fa-hashtag"></i> Código de Referencia</label>
                        <input formControlName="codigoReferencia" type="text" name="codigoReferencia"
                            id="codigoReferencia"
                            [ngClass]="{'is-invalid' : submitted && f.codigoReferencia.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.codigoReferencia.errors">
                            <div *ngIf="f.codigoReferencia.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6 ">
                        <label for="inputEmail4">Chasis</label>
                        <ng-select bindLabel="nombre" bindValue="codigo" [items]="chasis" [loading]="loadingChasis"
                            [ngClass]="{'form-control border-danger p-0' : submitted && f.articuloID.errors }"
                            (search)="getChasisComboBox($event)" notFoundText="No resultados"
                            formControlName="articuloID">
                        </ng-select>
                        <div *ngIf="submitted && f.articuloID.errors" class="text-danger small">
                            <div *ngIf="f.articuloID.errors.required  ">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail4"> Estado</label>
                        <ng-select bindLabel="nombre" bindValue="codigo" [items]="recallEstados"
                            [loading]="loadingRecallEstados"
                            [ngClass]="{'form-control border-danger p-0' : submitted && f.estadoID.errors }"
                            notFoundText="No resultados" formControlName="estadoID">
                        </ng-select>
                        <div *ngIf="submitted && f.estadoID.errors" class="text-danger small">
                            <div *ngIf="f.estadoID.errors.required  ">El campo es obligatorio</div>
                        </div>
                    </div>


                    <div class="form-group col-md-12 "> 
                        <label for="inputEmail4">Nombre</label>
                        <ng-select bindLabel="nombre" bindValue="codigo" [items]="recallSintomas"
                            [loading]="loadingRecallSintomas"
                            [ngClass]="{'form-control border-danger p-0' : submitted && f.sintomaID.errors }"
                            notFoundText="No resultados" formControlName="sintomaID">
                        </ng-select>
                        <div *ngIf="submitted && f.sintomaID.errors" class="text-danger small">
                            <div *ngIf="f.sintomaID.errors.required  ">El campo es obligatorio</div>
                        </div>
                    </div>



                    <div class="form-group text-right col-md-12">
                        <hr />

                        <button class="btn btn-light m-1" routerLink="../" type="button">
                            <i class="fas fa-times"></i> Cancelar
                        </button>

                        <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="submit">
                            <i class="fas fa-check"></i> Guardar
                        </button>

                        <!-- boton cargando -->
                        <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span> Guardando
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>