<div class="row">
  <div class="control-section">
      <div id="control_wrapper">
      </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
      <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
  </div>
</div>


<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 col-lg-6 col-12">
                      <h4 class="card-title">Formulario de síntomas</h4>
                  </div>
                  <div class="col-md-6 col-lg-6 col-12 text-right">
                  </div>
              </div>
              <!--<h6 class="card-subtitle">Just add <code>form-material</code> class to the form that's it.</h6>-->
              <form class="form-row m-t-40" [formGroup]="Formulario" (ngSubmit)="onSubmit()">


                <div class="form-group col-md-6">
                  <label for="example-email">Empleado Vendedor</label>
                  <ng-select [items]="Empleados" bindLabel="nombre" bindValue="codigo"
                      [loading]="loadingEmpleados" [clearable]="false"
                      [ngClass]="{'form-control border-danger p-0' : submitted && f.empleadoIdVendedor.errors }"
                      notFoundText="No resultados" formControlName="empleadoIdVendedor">
                  </ng-select>
                  <div *ngIf="submitted && f.empleadoIdVendedor.errors"
                      class="text-danger small animated animated--fade-in">
                      <div *ngIf="f.empleadoIdVendedor.errors.required  ">El campo es obligatorio</div>
                  </div>
              </div>


                <div class="form-group col-md-6">
                  <label for="example-email">Ruta Vendedor</label>
                  <ng-select [items]="RutasVendedor" bindLabel="nombre" bindValue="codigo"
                      [loading]="loadingRutasVendedor" [clearable]="false"
                      [ngClass]="{'form-control border-danger p-0' : submitted && f.rutaIdVendedor.errors }"
                      notFoundText="No resultados" formControlName="rutaIdVendedor">
                  </ng-select>
                  <div *ngIf="submitted && f.rutaIdVendedor.errors"
                      class="text-danger small animated animated--fade-in">
                      <div *ngIf="f.rutaIdVendedor.errors.required  ">El campo es obligatorio</div>
                  </div>
              </div>


                <div class="form-group col-md-6">
                  <label for="example-email">Empleado Entrega</label>
                  <ng-select [items]="Empleados" bindLabel="nombre" bindValue="codigo"
                      [loading]="loadingEmpleados" [clearable]="false"
                      [ngClass]="{'form-control border-danger p-0' : submitted && f.empleadoIdEntrega.errors }"
                      notFoundText="No resultados" formControlName="empleadoIdEntrega">
                  </ng-select>
                  <div *ngIf="submitted && f.empleadoIdEntrega.errors"
                      class="text-danger small animated animated--fade-in">
                      <div *ngIf="f.empleadoIdEntrega.errors.required  ">El campo es obligatorio</div>
                  </div>
              </div>


                <div class="form-group col-md-6">
                  <label for="example-email">Ruta Entrega</label>
                  <ng-select [items]="RutasEntrega" bindLabel="nombre" bindValue="codigo"
                      [loading]="loadingRutasEntrega" [clearable]="false"
                      [ngClass]="{'form-control border-danger p-0' : submitted && f.rutaIdEntrega.errors }"
                      notFoundText="No resultados" formControlName="rutaIdEntrega">
                  </ng-select>
                  <div *ngIf="submitted && f.rutaIdEntrega.errors"
                      class="text-danger small animated animated--fade-in">
                      <div *ngIf="f.rutaIdEntrega.errors.required  ">El campo es obligatorio</div>
                  </div>
              </div>

              <div class="form-group col-md-6">
                <label for="example-email">Empleado Supervisor</label>
                <ng-select [items]="Empleados" bindLabel="nombre" bindValue="codigo"
                    [loading]="loadingEmpleados" [clearable]="false"
                    [ngClass]="{'form-control border-danger p-0' : submitted && f.empleadoIdSupervisor.errors }"
                    notFoundText="No resultados" formControlName="empleadoIdSupervisor">
                </ng-select>
                <div *ngIf="submitted && f.empleadoIdSupervisor.errors"
                    class="text-danger small animated animated--fade-in">
                    <div *ngIf="f.empleadoIdSupervisor.errors.required  ">El campo es obligatorio</div>
                </div>
            </div>

                  <!-- <div class="form-group col-md-6">
                      <label for="nombre"> Nombre</label>
                      <input formControlName="nombre" type="text" name="nombre" id="nombre"
                          [ngClass]="{'is-invalid' : submitted && f.nombre.errors,  'form-control':true  }">
                      <div class="invalid-feedback" *ngIf="submitted && f.nombre.errors">
                          <div *ngIf="f.nombre.errors.required">El campo es obligatorio</div>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="codigoReferencia"> <i class="fa fa-hashtag"></i> Código de referencia</label>
                      <input formControlName="codigoReferencia" type="text" name="codigoReferencia"
                          id="codigoReferencia"
                          [ngClass]="{'is-invalid' : submitted && f.codigoReferencia.errors,  'form-control':true  }">
                      <div class="invalid-feedback" *ngIf="submitted && f.codigoReferencia.errors">
                          <div *ngIf="f.codigoReferencia.errors.required">El campo es obligatorio</div>
                      </div>
                  </div>

                  <div class="form-group col-md-12">
                      <label for="example-email">Categoria</label>
                      <ng-select [items]="sintomaCategorias" bindLabel="nombre" bindValue="codigo"
                          [loading]="loadingSintomaCategorias" [clearable]="false"
                          [ngClass]="{'form-control border-danger p-0' : submitted && f.categoriaID.errors }"
                          notFoundText="No resultados" formControlName="categoriaID">
                      </ng-select>
                      <div *ngIf="submitted && f.categoriaID.errors"
                          class="text-danger small animated animated--fade-in">
                          <div *ngIf="f.categoriaID.errors.required  ">El campo es obligatorio</div>
                      </div>
                  </div>

                  <div class="form-group col-md-12">
                      <label for="descripcion"> Descripción</label>

                      <textarea formControlName="descripcion" class="form-control" name="descripcion" id="descripcion"
                          rows="5"></textarea>
                      <div class="invalid-feedback" *ngIf="submitted && f.descripcion.errors">
                          <div *ngIf="f.descripcion.errors.required">El campo es obligatorio</div>
                      </div>
                  </div> -->

                  <div class="form-group text-right col-md-12">
                      <hr />

                      <button class="btn btn-light m-1" routerLink="../" type="button">
                          <i class="fas fa-times"></i> Cancelar
                      </button>

                      <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="submit">
                          <i class="fas fa-check"></i> Guardar
                      </button>

                      <!-- boton cargando -->
                      <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                          <span class="spinner-border spinner-border-sm"></span> Guardando
                      </button>
                  </div>

              </form>
          </div>
      </div>
  </div>
</div>
