<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12 mt-3">
            <!-- <img width="225" src="assets/images/extra/loading-internet-limpia-brisas.gif" alt="" class="m-auto"> -->
            <i class="fa fa-wifi text-danger fa-4x"></i>
        </div>

        <div class="col-12 mt-2 mb-2">
            <p class="font-weight-bold mb-0">conexión lenta o nula a internet.</p>
            <p class="font-weight-normal"> Por favor, verifica tus configuraciones de internet e intenta de nuevo.</p>
            <small class="font-italic">Esta ventana se cerrará automáticamente al detectar conexión a
                internet.</small>
        </div>
    </div>
</div>