<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6 align-middle">
                        <!-- <h4 class="card-title">Panel de sincronización SAP</h4> -->
                    </div>
                    <div class="col-md-6 text-right">

                    </div>
                </div>

                <div class="row">

                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center border rounded border-success">
                            <i class="fa text-success  fa-dollar-sign fa-3x" aria-hidden="true"></i>
                            <div class="title mt-2">
                                <h4>Precios de artículos</h4>
                            </div>
                            <button class="btn btn-success btn-sm" (click)="file.click()"> <i
                                class="fa fa-upload text-white"></i> Subir
                            archivo</button>

                            <div class="text">
                                <span>Actualiza precios de artículos desde un archivo excel.</span>
                            </div>
                            <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                class="d-none" (change)="onFileChange($event,modalUploadExcel,1)" #file multiple
                                type="file" />
                            <a href="assets/files/excel/ArticuloPrecioCargaMasivaTemplate.xlsx" class="btn btn-sm btn-light">
                                <i class="fa fa-download text-dark"></i> Descargar plantilla
                            </a>
                            <button class="btn btn-info btn-sm ml-2" [hidden]="true" (click)="file.click()">
                                <i class="fa fa-list-alt text-white mr-1"  aria-hidden="true"></i>Mostrar Cargas</button>
                            <hr>
                        </div>
                    </div> -->

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center border rounded border-info">
                            <i class="fa text-success  fa-road fa-3x" aria-hidden="true"></i>
                            <div class="title mt-2">
                                <h4>Cliente Rutas</h4>
                            </div>
                            <button class="btn   btn-sm btn-success" (click)="file2.click()"> <i
                                class="fa fa-upload text-white"></i> Subir
                            archivo</button>

                            <div class="text">
                                <span>Actualiza las rutas de clientes desde un archivo excel.</span>
                            </div>

                            <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                class="d-none" (change)="onFileChange($event,modalUploadExcel,2)" #file2 multiple
                                type="file" />


                            <a href="assets/files/excel/ActualizaClienteRutaTipoTemplate.xlsx" class="btn btn-sm btn-light">
                                <i class="fa fa-download text-dark"></i> Descargar plantilla
                            </a>
                            <button class="btn btn-info btn-sm ml-2" [hidden]="true" >
                                <i class="fa fa-list-alt text-white mr-1"  aria-hidden="true"></i>Mostrar Cargas</button>
                            <hr>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center border rounded border-info">
                            <i class="fa text-success  fa-road fa-3x" aria-hidden="true"></i>
                            <div class="title mt-2">
                                <h4>Reestructuración de cliente</h4>
                            </div>
                            <button class="btn btn-success btn-sm" (click)="file3.click()"> <i
                                class="fa fa-upload text-white"></i> Subir
                            archivo</button>

                            <div class="text">
                                <span>Actualiza las rutas y dias de visitas en los clientes desde un archivo excel.</span>
                            </div>
                            <input #myInputFileReestructuracliente accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                class="d-none" (change)="onFileChange($event,modalUploadExcel,3)" #file3  multiple
                                type="file" />


                            <a href="assets/files/excel/ReestructuraClienteTemplate.xlsx" class="btn btn-sm btn-light">
                                <i class="fa fa-download text-dark"></i> Descargar plantilla
                            </a>
                            <button *ngIf="!showCargasReestructuracion" class="btn btn-info btn-sm ml-2" (click)="getCargasReestructuracion()" >
                                <i class="fa fa-list-alt text-white mr-1" aria-hidden="true" ></i>Mostrar Cargas</button>
                           <button  *ngIf="showCargasReestructuracion" [disabled]="Cargando" class="btn btn-info btn-sm ml-2" (click)="getCargasReestructuracion()" >
                                    <i class="fa fa-list-alt text-white mr-1" aria-hidden="true" ></i>Actualizar Cargas</button>
                            <hr>

                            <div class="table_cargas" *ngIf="showCargasReestructuracion">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0 no-wrap v-middle">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Registros</th>
                                                <th>Fecha</th>
                                                <th>Detalle</th>

                                            </tr>
                                        </thead>
                                        <tbody [hidden]="Cargando">

                                            <!-- <tr *ngFor="let cm of cargasMasivasReestructuracionCliente"> -->
                                           <tr *ngFor="let cm of cargasMasivasReestructuracionCliente">
                                                <!-- <td>
                                                    <button class="btn btn-sm btn-info m-1" [routerLink]="[cliente.id]">
                                                        <i class="fa fa-sm fa-edit"></i>
                                                    </button>
                                                </td> -->
                                                <th scope="row">{{cm.id}}</th>
                                                <td>{{cm.registros}}</td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                                          </svg>
                                                        <div class="ml-3">
                                                            <p class="font-bold  text-info mb-0">
                                                                <span> {{cm.fechaSubida | date:'dd/MM/yy' }}</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                                          </svg>

                                                        <div class="ml-3">
                                                            <p class="mb-0" style="color: gray;    font-weight: 600;">
                                                                <span> {{cm.fechaSubida | date:'h:mm:ss a' }}</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-light  m-1"
                                                     (click)="openModalDetalle(cm,modalDetallaReestructuracionCliente)">
                                                        <i class="fa fa-list" aria-hidden="true"></i>
                                                    </button>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </div>



                                <app-loading-listado [hidden]="!Cargando"></app-loading-listado>

                                <div class="row ">
                                    <div class="col-md-8 col-xs-12 ">
                                        <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual"
                                            [pageSize]="paginaSize" [maxSize]="5" [boundaryLinks]="true" (pageChange)="getCargasMasivasReestructuracionclientes()" >
                                        </ngb-pagination>
                                    </div>

                                    <div class="col-md-4 text-right d-none d-md-block  ">
                                        <select class="form-control d-block" name="paginaSize" [(ngModel)]="paginaSize"
                                        (change)="getCargasMasivasReestructuracionclientes()" >
                                            <option [ngValue]="1">1 registro</option>
                                            <option [ngValue]="5">5 registro</option>
                                            <option [ngValue]="10">10 registro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<ng-template #modalUploadExcel let-modal>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="modal-header">
                    <!-- <h4 class="modal-title" id="modal-title">Artículo</h4> -->
                    <button type="button" class="close" aria-describedby="modal-title"
                        (click)="modalClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" *ngIf="!dataExcel || dataExcel.length == 0">
                        <div class="col text-center">
                            <h1>EL ARCHIVO ESTÁ VACÍO</h1>
                        </div>

                    </div>

                    <div class="row" *ngIf="dataExcel && !guardandoDataExcel &&  dataExcel.length > 0">

                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="search" class="input-group-text bg-white">
                                        <span class="bg-white" style="border-right:none">
                                            <i class="ti-search"></i>
                                        </span>
                                    </label>
                                </div>
                                <input [(ngModel)]="filter" type="text" style="border-left:none !important;"
                                    class="form-control" placeholder="Buscar">
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="table-responsive" style="height: 300px;">
                                <table class="table table-hover mb-0 no-wrap v-middle">

                                    <thead>
                                        <tr>
                                            <th *ngFor="let p of propiedades">{{p | titlecase}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of dataExcel  | filter:filter">
                                            <td *ngFor="let prop of propiedades"> {{item[prop]}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12 mt-2 ">
                            <h5 class="text-right"><span class="badge badge-light">{{dataExcel.length}}
                                    records
                                </span></h5>
                        </div>
                    </div>

                    <div class="row" *ngIf="guardandoDataExcel">
                        <div class="col">
                            <div class="text-center">
                                <h5> <i class="fa fa-sync fa-spin"></i> Subiendo a la nube</h5>
                            </div>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                    role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 100%"></div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="modal-footer" *ngIf="dataExcel && !guardandoDataExcel && dataExcel.length > 0">
                    <div class="form-group col-md-5" >
                        <label> <i class="fa fa-calendar"></i> Fecha de sincronización</label>
                        <ejs-datepicker  [format]="'dd-MM-yyyy'" [(ngModel)]="fecha"></ejs-datepicker>
                    </div>
                    <div class="form-group col-md-4" >

                    </div>
                        <button type="button" class="btn btn-outline-secondary"
                        (click)="modalClose()">Cancelar</button>
                    <button type="button" class="btn btn-info" (click)="transformData()">Subir</button>

                </div>
            </div>
        </div>

        <!-- <app-loading-listado [hidden]="!CargandoDelete"></app-loading-listado> -->

    </div>
</ng-template>


<ng-template #modalDetallaReestructuracionCliente let-modal>
    <div class="modal-header bg-dark">
      <h4 class="modal-title text-white">Detalle carga masiva | Reestructuración Cliente</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12 mb-1">
          <div class="row border border-light p-2">
            <div class="col">
              <h3>  Id:{{cargasMasivaRCliente.id}}
                  | Registros : {{cargasMasivaRCliente.registros}}
                  | Fecha :  {{cargasMasivaRCliente.fechaSubida  | date:'MMM d, y, h:mm:ss a'}}</h3>
            </div>
          </div>
        </div>

        <div class="col-12" [hidden]="loadingDetalleRcliente">

          <div class="table-responsive">
            <table  border="1px" style=" border:1px solid gainsboro;"  width="100%"  cellspacing="4" cellpadding="4">
              <thead class= "customThead" >
                <tr>
                  <th class="customTh"  rowspan="2" scope="col">Codigo</th>
                  <th class="customTh" rowspan="2"  scope="col">Nombres</th>
                  <th class="customTh" colspan="2"  style="text-align: center;" scope="col">Ruta Nombre</th>
                  <th class="customTh" colspan="2"  style="text-align: center;" scope="col">Ruta Codigo </th>
                  <th class="customTh" colspan="2"  style="text-align: center;"scope="col">Dia Visita</th>
                  <th class="customTh" rowspan="2"  style="text-align: center;" scope="col">Estado actual cliente</th>
                </tr>

                <tr>
                    <th class="customTh" scope="col">Anterior</th>
                    <th class="customTh" scope="col">Actual</th>
                    <th class="customTh" scope="col">Anterior</th>
                    <th class="customTh" scope="col">Actual</th>
                    <th class="customTh" scope="col">Anterior</th>
                    <th class="customTh" scope="col">Actual</th>
                  </tr>
              </thead>

              <tbody>

                <tr *ngFor="let d of detalleCargaMasivaReestructuracionCliente">
                  <th class="customTh" >{{d.codigoReferencia}}</th>
                  <td class="customTh" >{{d.nombres}}</td>

                  <td class="customTh">{{d.rutaNombreAnterior }}</td>
                  <td class="customTh">{{d.rutaNombre }}</td>

                  <td class="customTh">{{d.rutaCodigoReferenciaAnterior }}</td>
                  <td class="customTh">{{d.rutaCodigoReferencia }}</td>

                  <td class="customTh">{{d.diaVisitaAnterior }}</td>
                  <td class="customTh">{{d.diaVisita }}</td>

                  <td class="customTh">
                    <div class="circulo"
                    [style.background-color]="d.reestructuraRutasEstadoId>0 ? '#F4D03F' :
                     (d.reestructuraRutasEstadoId==0 ? '#82E0AA' : '#82E0AA')" ></div>
                     <span class="text-dark" style="font-size: 16px;">
                        {{formatDescripcionByEstado(d.reestructuraRutasEstadoId)}}
                 </span>
                  </td>

                </tr>

              </tbody>
            </table>

          </div>


        </div>
        <div class="col-12">
          <app-loading-listado [hidden]="!loadingDetalleRcliente"></app-loading-listado>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light m-1" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>
