

.card {
  border: none;
  border-radius: 10px;

  background-position: center;
  background-repeat: no-repeat;
  // background-size: contain;
  background-size: cover;
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center
}

.progress {
  height: 10px;
  border-radius: 10px
}

.progress div {
  background-color: salmon
}

.text1 {
  font-size: 20px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}

.product {
  cursor: pointer;
  border: 3px solid rgb(236, 236, 236);

}
.product_added_venta{
  // border: 3px solid rgb(104, 165, 255);
  border: 3px solid  #89c992;
}

.icon_articulo{
  font-size: 50px;
  color: rgb(236, 236, 236);
}
.text_noselected{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.text_name_product{
  max-width: 100%;
  overflow: hidden;
  //white-space: nowrap;
  font-size: 96%;
  font-weight: 500;
  text-overflow: ellipsis;
  padding: 7px;
  font-weight: 600;

  margin: 0;
  background-color: #666666;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

  .text_price_product{
    // background-color: white;
    // border-radius: 5px;
    // padding: 2px;
    // color: #44974f;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    background-color: white;
    /* border-radius: 5px; */
    padding: 2px;
    border: 1px solid #44974f85;
    color: #44974f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-right: none;
    border-top-left-radius: 7px;
}

.container_text_price_product{
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.container_product:hover .container_text_price_product{
	transform: translate(2px, -30px);
	-webkit-transform: translate( 2px, -30px);
	-moz-transform: translate(2px, -30px);
	-o-transform: translate(2px, -30px);
	-ms-transform: translate(2px, -30px);
}
.container_product:hover{
  // background-color: #44974f;
}


input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar{
 font-size: 20px;
}
::ng-deep .detalle_articulo{
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}
