<div class="container-fluid" style="min-height: 500px;">
  <div class="row" >
    <div class="col-md-12 pb-1" >
     <div class="input-group mt-1">

       <input style="height: 50px;" type="text"
       id="search-bar"
       [(ngModel)]="filter"
        class="form-control border-right-0"
        placeholder="¿Con que puedo ayudarte hoy?"
        aria-label="Productos"
        aria-describedby="basic-addon1">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border-left-0" style="font-size: 25px;" id="basic-addon1">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
     </div>

     <perfect-scrollbar  class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true" (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)" (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">

    <div class="col-md-12 mt-4 " style="max-height: 550px;">

     <div class="container-fluid p-3">
        <div class="row">
          <div class="col-xl-2  col-lg-3 col-md-4 col-sm-6 col-xs-12 container_product"  (click)="openModalDetalle(DetalleArticulo,p)" *ngFor="let p of (articulos)  | filter:filter">

            <div class="count_in_cart position-absolute" *ngIf="p.cant>0 && p.cartAdded"
             style="z-index: 50;    right: 0px;
            top: -10px;">
              <h4 class="heading text-white" style="    border-radius: 50%;
              background-color: #89c992;
              padding: 3px;
              padding-left: 11px;
              padding-right: 10px;
              font-weight: 600;">
                {{p.cant}}
              </h4>
            </div>

            <div class="card product  " [style.background-image]="getSantizeUrl(p.imagenUrl)"   [ngClass]="{'product_added_venta':p.cant>0 && p.cartAdded}" >

                <div class="mt-5 "> </div>

                  <div class="mt-1 text-center" >

                    <!-- <span class="badge badge-light text_noselected" style="font-size: 15px; color: green; font-weight: 600;">{{p.cant}}</span> -->

                      <div class="mt-2 text-center">
                        <i *ngIf="!p.imagenUrl" class="fa fa-file-image icon_articulo"></i>
                        <i *ngIf="p.imagenUrl" style="color:#ffffff00
                        " class="fas fa-box-open icon_articulo"></i>

                          <!-- <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> -->
                      </div>
                  </div>
                  <br>
                  <div class="mt-5 text-right  container_text_price_product"> <span class="text1 text_price_product text_noselected">{{p.precioActual | currency}}</span> </div>
                  <h4 class="heading p-2 text_name_product text_noselected ">{{p.nombre}}</h4>

              </div>
          </div>
      </div>

   </div>
    </div>
 </perfect-scrollbar>
  </div>
 </div>
 <ng-template #DetalleArticulo let-modal>

  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title font-weight-bold">{{artDetalleSeleccionado.nombre}}</h3>
        <h6 class="card-subtitle font-weight-bold">CODIGO #{{artDetalleSeleccionado.codigoReferencia}}</h6>
        <div class="row">
          <div class="col-lg-6 col-md-3 col-sm-6">
            <div class="white-box text-center">
              <img  *ngIf="artDetalleSeleccionado.imagenUrl" [src]="artDetalleSeleccionado.imagenUrl"  class="img-fluid" >
              <i *ngIf="!artDetalleSeleccionado.imagenUrl" style="font-size: 120px;"
                  class="fa fa-file-image icon_articulo mt-5">
              </i>

            </div>
          </div>
          <div class="col-lg-6 col-md-9 col-sm-12 mt-0">
            <h4 class="box-title mt-3">Descripción de Articulo</h4>
            <p>
              Cómplices de tus deliciosos locrios, pastas o picaderas.
              El salami Super Especial Nutriciosa está elaborado
              cuidadosamente con una mezcla de carne de res, pollo,
              cerdo, y una combinación de especias que aportan su
              sabor auténtico.
            </p>
            <span class="badge badge-pill badge-info">{{artDetalleSeleccionado.unidadMedida}}</span>
            <div class="product_counter mt-3  "  style="width: 40%;">
              <ng-number-picker
              [(value)]="artDetalleSeleccionado.cant"
              [min]="'1'"
              [max]="'300'"
              [step]="'1'"
              [pickStartAfter]="'500'"
              [pickTimer]="'100'"
              [buttonsOrientation]="'h'"
              [size]="'sm'"
              [showDownButton]="true"
              [showUpButton]="true"
              [inputReadOnly]="false"
              [mouseWheel]="true"
              [arrowKeys]="true"
              [customClass]="{
                container: '',
                up: '',
                down: '',
                prefix: '',
                postfix: ''
              }"
            ></ng-number-picker>
            <!-- <span class="text-danger ml-2">Disponible 20</span> -->

            </div>
            <h2 class="mt-4" style="    color: #44974f;">
                {{artDetalleSeleccionado.precioActual | currency}}
            </h2>
            <button class="btn btn-dark me-1 mr-2"  data-bs-toggle="tooltip" title=""
              data-original-title="Add to cart" (click)="addToCart(artDetalleSeleccionado)" data-bs-original-title="">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Añadir al carrito
            </button>
            <!-- <button class="btn btn-primary btn-rounded">
              Buy Now
            </button> -->

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>
