.text_seleccione{
    font-weight: 500;
     font-size: 15px;
    color: #398bf7;
    position: relative;
    top: -10px;
}

.form_Visitas{
    transition: all .3s ease-in;
  }

  .rectangle{

   height:50% ; 
    width: 12%;
  }
