<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <img src="https://grupoviamar.com/uploads/5610_1529193213.png" style="max-width:250px; height:80px;"
                    class="img-fluid" alt="Responsive image">
                <hr>
            </div>
        </div> 
        <div class="col-12 text-center">
            <img src="assets/images/error/serverDown.svg" style="max-width:500px;" alt="505">
            <h1 class="display-1"><strong>505</strong> <span class="display-4">Error interno del servidor.</span>
            </h1> 
        </div>
    </div>
</div> 