<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-9 align-middle ">
            <h4 class="card-title">Listado de pedidos para despachar </h4>
          </div>
          <div class="col-md-3 text-right">
           <!-- <button   (click)="connectBalanza()"
            class="btn btn-info"> <i class=""></i> Conectar
          </button>
            <button   (click)="disconnectBalanza()"
                         class="btn btn-info"> <i class=""></i> Desconectar
            </button> -->

          </div>
          <div class="col-md-3 pt-2">
            <label for="">Busqueda</label>
            <div class="input-group">

              <div class="input-group-prepend">
                <label for="search" class="input-group-text bg-white">
                  <span class="bg-white" style="border-right:none">
                    <i class="ti-search"></i>
                  </span>
                </label>
              </div>
              <input [(ngModel)]="Search" (keyup)="getDataByCondicional()" type="text"
                style="border-left:none !important;" class="form-control" placeholder="Buscar">
            </div>
          </div>
          <div class="form-group col-md-3 pt-2">
            <label for="">Sucursal</label>
            <ng-select [searchable]="false" bindLabel="nombre" bindValue="codigo" [items]="sucursales"
              [loading]="loadingSucursales" [clearable]=false [(ngModel)]="sucursalId" (change)="getDataByCondicional()"
              notFoundText="No resultados">
            </ng-select>
          </div>

          <div class="form-group col-md-3 pt-2">
            <label for="">Fecha</label>
            <ejs-datepicker [allowEdit]="false" [showClearButton]="false" (change)="onChangeFechaDesdeFiltro($event)"
              [(ngModel)]="fecha" [format]="'dd-MM-yyyy'">
            </ejs-datepicker>
          </div>

          <div class="form-group col-md-3 pt-2">
            <label for="">Canal</label>
            <ng-select [items]="canales" [searchable]="false" bindLabel="nombre" bindValue="codigo"
              [loading]="loadingCanales" (change)="getDataByCondicional()" placeholder="Seleccionar canal"
              [clearable]="false" notFoundText="No resultados" [(ngModel)]="canalId">
            </ng-select>
          </div>

          <!-- <div class="col-md-12 mt-1 mb-1 ">
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                          <div class="d-flex no-block align-items-center">
                            <div><span class="text-success display-7"><i class="ti-pie-chart"></i></span></div>
                            <div class="ml-3 text-right">
                                <h4 class="font-weight-bold">{{3000526 | currency}} </h4>
                                <h5 class="text-success">Total Pedido</h5>
                            </div>
                          </div>
                       </div>

                       <div class="col-md-3">
                        <div class="d-flex no-block align-items-center">
                          <div><span class="text-warning display-7"><i class="ti-pie-chart"></i></span></div>
                          <div class="ml-3 text-right">
                              <h4 class="font-weight-bold">{{3000526 | currency}} </h4>
                              <h5 class="text-warning">Total Despacho</h5>
                          </div>
                        </div>
                     </div>

                     <div class="col-md-3">
                      <div class="d-flex no-block align-items-center">
                        <div><span class="text-success display-7"><i class="ti-pie-chart"></i></span></div>
                        <div class="ml-3 text-success">
                            <h4 class="font-weight-bold">{{3000526 | currency}} </h4>
                            <h5 class="text-success">Total ERP</h5>
                        </div>
                      </div>


                   </div>
                      </div>
                    </div> -->


        </div>

        <div class="table-responsive">
          <ng-container
            [ngTemplateOutlet]="canalId==1 ? tableDataPreventa : canalId ==2 ? tableDataPreventa : tableDataPreventa">
          </ng-container>
        </div>


        <app-loading-listado [hidden]="!Cargando"></app-loading-listado>

        <div class="row ">
          <div class="col-md-8 col-xs-12 ">
            <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual" [pageSize]="paginaSize"
              [maxSize]="5" [boundaryLinks]="true" (pageChange)="getDataByCondicional(true,false)">
            </ngb-pagination>
          </div>

          <div class="col-md-4 text-right d-none d-md-block  ">
            <select class="form-control d-block" name="paginaSize" [(ngModel)]="paginaSize"
              (change)="getDataByCondicional(true,false)">
              <option [ngValue]="5">5 registro por pagina</option>
              <option [ngValue]="10">10 registro por pagina</option>
              <option [ngValue]="15">15 registro por pagina</option>
            </select>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<ng-template #tableDataPreventa>
  <table class="table table-hover mb-0 no-wrap v-middle">
    <thead>
      <tr>
        <th>Acciones</th>
        <th>Fecha</th>
        <th>Distribuidor</th>
        <th>Estado </th>
        <th>Pedido </th>
        <th>Despacho</th>
        <th>ERP </th>
      </tr>
    </thead>
    <tfoot>
      <tr style="background-color: #f8f8f8; font-size: 17px;" *ngIf="dataPreventa.length>0 && !Cargando">
        <th class="text-center"> <span class="font-bold">TOTAL GENERAL</span></th>
        <th></th>
        <th></th>
        <th></th>
        <th><span style="color: #4cc25b;" class=" font-bold">{{dataPreventaTotales?.totalPedido | currency}}</span>
        </th>
        <th><span style="color: #4cc25b;" class="font-bold">{{dataPreventaTotales?.totalDespacho | currency}}</span>
        </th>
        <th><span style="color: #4cc25b;" class="font-bold"></span> </th>
      </tr>
    </tfoot>

    <tbody [hidden]="Cargando" style="    height: 230px;
    min-height: 200px;">

      <tr *ngFor="let item of dataPreventa; let i = index">

        <td>


          <div class="acciones-btn" *ngIf="validaDiferenciaMinimaDespacho(item)">
            <!-- -->

            <div *ngxPermissionsOnly="['dispositivo_despacho']" style="display:inline-block">
              <button *ngIf="item.noEditable==0" [disabled]="btnCargandoPrint" class="btn btn font-bold btn-success m-1"
                (click)="validaDespachoEnUsoBeforeOpenModal(modalDetalleDespachoPreventa,item)">
                <i class="fa fa-sm  fa-list "></i> Despachar
              </button>
            </div>

            <div *ngxPermissionsOnly="['manual_despacho']" style="display:inline-block">
              <button *ngIf="item.noEditable==0 && !item.despachoDispositivo" [disabled]="btnCargandoPrint" class="btn btn font-bold btn-info m-1"
                (click)="openModalConfirmFinalizaDespacho(modalConfirmManual,1,item)">
                <i class="fa  fa-hand-paper mr-1" aria-hidden="true"></i> D. Manual
              </button>
            </div>


            <button *ngIf="item.noEditable==1" [disabled]="btnCargandoPrint"
              class="btn border  font-bold btn-outline-info m-1"
              (click)="openModal(modalDetalleDespachoPreventa,item,false)">
              <i class="fa fa-eye" aria-hidden="true"></i> Despacho
            </button>

            <button [disabled]="btnCargandoPrint" class="btn  font-bold btn-secondary m-1"
              (click)="exportDespachoPreventaDetalle(item,1)">
              <i class="fa fa-print" aria-hidden="true"></i>
            </button>

            <button [disabled]="btnCargandoPrint" class="btn  font-bold btn-secondary te m-1"
              (click)="exportDespachoPreventaDetalle(item,2)">
              <i class="fa fa-file-excel" aria-hidden="true"></i>
            </button>
          </div>

          <div class="acciones-mensaje" *ngIf="!validaDiferenciaMinimaDespacho(item)">
            <span class=" font-bold text-info">Sincronizando</span>
          </div>


        </td>

        <td>
          <span class="text-dark font-bold"><i class="far fa-calendar"></i>
            {{item.fechaEntrega | date:'MMM d, y' }}
          </span>
        </td>

        <td>
          <div class="d-flex align-items-center">
            <div class="ml-3">
              <p class="font-bold mb-0">{{item.distribuidor | titlecase }} <span class="text-info">{{item.ruta }}</span>
              </p>
            </div>
          </div>
        </td>

        <td>
          <span *ngIf="item.estadoDespacho==1  && item.noEditable==0" class="badge badge-warning">PENDIENTE</span>
          <span *ngIf="item.estadoDespacho==2  && item.noEditable==0" class="badge badge-info">EN PROCESO</span>
          <span *ngIf="item.estadoDespacho==3 && item.noEditable==0" class="badge badge-warning">PENDIENTE
            FINALIZAR</span>

          <span *ngIf="item.noEditable==1" class="badge badge-success">FINALIZADO </span>

          <div *ngIf="item.noEditable==1 && item.estadoERP==1" class="circulo" style="background-color: #ffc107;"></div>
        </td>

        <td>
          <p class="font-bold mb-0">{{item.totalMontoPedido | currency}}</p>
        </td>
        <td>
          <p class="font-bold mb-0"> {{item.totalMontoDespacho | currency}}</p>
        </td>
        <td>
          <p class="font-bold mb-0"> {{item.totalMontoPedidoERP | currency}}</p>
        </td>
      </tr>



      <div class="over_despacho" *ngIf="!despachoPuedeHorario || loadingRangosFechaDespacho || despachoOn==0">
        <div class="row justify-content-center  text-center align-items-center "
          style="font-size: 20px;     height: 100%;">


           <div *ngIf="idPicking>0  && Horario==true">
           <h3 *ngIf="!loadingRangosFechaDespacho  " class="font-weight-bold h3_over_despacho">
            <i class="fa fa-clock" style="font-size: 30px;" aria-hidden="true"></i>
            {{dia | uppercase}}

            <br>
             El horario a despachar es entre {{fDesde | date:'shortTime'}} - {{fHasta | date:'shortTime'}}
            </h3>

          </div>

          <div *ngIf="idPicking<=0 ">
            <h3 *ngIf="!loadingRangosFechaDespacho " class="font-weight-bold h3_over_despacho">
              <i class="fa fa-clock" style="font-size: 30px;" aria-hidden="true"></i>
              {{dia | uppercase}}

              <br>
              El horario de despacho para este dia no esta configurado
              </h3>
        </div>
            <h3 *ngIf="loadingRangosFechaDespacho" class="font-weight-bold h3_over_despacho">
            <i class="spinner-border spinner-border-sm"></i>

            <br>
            Cargando...
          </h3>

        </div>
      </div>

    </tbody>

  </table>

</ng-template>

<ng-template #modalDetalleDespachoPreventa let-modal>
  <div class="modal-header p-0">
    <button type="button " class="btn btn-light m-1" @onArticulos *ngIf="!viewAllArticulos"
      (click)="changeViewDetalleDespacho(!viewAllArticulos)">
      <h5 class="font-bold mt-1">
        <i class="fa fa-bars" aria-hidden="true"></i> Ver articulos
      </h5>
    </button>

    <button type="button " class="btn btn-light m-1" *ngIf="viewAllArticulos"
      (click)="viewAllArticulos=!viewAllArticulos">
      <h5 class="font-bold mt-1">
        Ir a despachar  <i class="fa fa-arrow-right" aria-hidden="true"></i>

      </h5>
    </button>


    <h4 class="font-bold mt-3 ml-3">
      <i class="fa fa-truck"></i> ALM. ORIGEN: {{despachoPreventaSeleccionado.almacen_Origen }}
    </h4>

    <h4 class="font-bold mt-3 ml-3">
      <i class="fa fa-truck"></i> ALM. DESTINO: {{despachoPreventaSeleccionado.almacen_Destino}}
    </h4>

    <button type="button" class="btn btn-danger m-1 " (click)="modalDespachoDetalleClose()">
      <h5 class="font-bold mt-1 text-white ">
        <i class="fa fa-times " aria-hidden="true"></i>
        Cerrar
      </h5>
    </button>


  </div>
  <div class="modal-body" style="min-height: 510px; max-height: 510px; ">
    <div class="row">
      <div class=" col-md-12 row left_detalle mt-2" @onArticulos *ngIf="viewAllArticulos">
        <div class="col-md-12">
          <div class="block_text">
            <h4 class="font-weight-bold">Listado de articulos</h4>
          </div>
          <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true" >

            <div class="w-100" style="min-height: 450px; max-height: 450px;">
              <table class="table table_DetalleDespacho table-sm  mb-0 no-wrap v-middle">

                <thead style="background-color:white;color: black;">
                  <tr>
                    <th>Artículo</th>
                    <th>Pedido</th>
                    <th>Despacho</th>
                    <th style="text-align: center;">¿Listo?</th>
                  </tr>
                </thead>


                <tbody>

                  <tr (click)="onSelectArticuloInDetallePreventa(item)"
                    [ngClass]="(item.selected)?'tr_detalle_articulo_selected':'tr_detalle_articulo_no_selected'"
                    *ngFor="let item of despachoPreventaDetalles" class="tr_detalle">

                    <td class="tdcss_DetalleDespacho column_a">
                      <span> {{item.codigoArticulo}} | {{item.articulo}}</span>
                    </td>
                    <td class="tdcss_DetalleDespacho">
                      <span> {{item.pedido}}</span>
                    </td>
                    <td class="tdcss_DetalleDespacho">
                      <span> {{item.despacho}}</span>
                    </td>

                    <td class="tdcss_DetalleDespacho" style="vertical-align: initial;    text-align: center; ">
                      <input style="display:none" class="form-check-input input_check " type="checkbox"
                        [(ngModel)]="item.selected">


                      <span *ngIf="item.estadoId==1 && item.unidadMedida!='CANASTO'"
                        class="badge badge-danger">NO</span>
                      <span *ngIf="item.estadoId==2 && item.unidadMedida!='CANASTO'"
                        class="badge badge-warning">INCOM</span>
                      <span *ngIf="item.estadoId==3 && item.unidadMedida!='CANASTO'"
                        class="badge badge-success">SI</span>

                    </td>
                  </tr>

                </tbody>

              </table>
              <div class="col-12  ">
                <app-loading-listado [hidden]="!loadingDespachoPreventaDetalle"></app-loading-listado>
              </div>

            </div>
          </perfect-scrollbar>
          <!--
              <div class="row">

                  <div class="col-md-7 col-xs-12">
                    <ngb-pagination   [collectionSize]="collectionSizeDetalleDespacho"
                    [(page)]="pageDetalleDespacho"  [maxSize]="4"  [pageSize]="pageSizeDetalleDespacho" (pageChange)="formatDespachoPreventaDetalles();">
                    </ngb-pagination>
                  </div>

                  <div class="col-md-5 col-xs-12 text-right">
                    <button *ngIf="despachoPreventaSeleccionado.noEditable==0 && btnGuardarCanastoDespachoCargando==false && loadingDespachoPreventaDetalle==false"
                    style=" color:#4183D7;   "
                   class="btn btn-outline-light font-bold" (click)="agregarCanastoPreventa()" type="button" >
                   <i class="fa fa-plus mr-1" aria-hidden="true"></i>Canasto
                  </button>

                  <button *ngIf="despachoPreventaSeleccionado.noEditable==0 && btnGuardarCanastoDespachoCargando"
                  [disabled]="true"  style=" color:#4183D7;   "
                  class="btn btn-outline-light font-bold" (click)="agregarCanastoPreventa()" type="button" >
                   Agregando...
                 </button>
                  </div>

              </div> -->

        </div>

      </div>

      <div class=" col-md-12 row right_detalle pl-3 pr-3 " @onDArticulo
        *ngIf="this.despachoPreventaArticuloDetalleSelected && !loadingDespachoPreventaDetalle && !viewAllArticulos">

        <ng-container
          [ngTemplateOutlet]="this.despachoPreventaArticuloDetalleSelected.unidadMedida=='LBS'
          ?   pickingArticuloLibra: this.despachoPreventaArticuloDetalleSelected.unidadMedida =='CANASTO' ?  pickingArticuloCanasto : pickingArticuloUnidad">
        </ng-container>

      </div>

      <div class=" col-md-6 row right_detalle" *ngIf="loadingDespachoPreventaDetalle">
        <div class="col-12  ">
          <app-loading-listado [hidden]="!loadingDespachoPreventaDetalle"></app-loading-listado>
        </div>

      </div>

    </div>


  </div>
  <div class="modal-footer" style="background-color: #e9edf25e">

    <div class=" col-md-12 row"
      *ngIf="(despachoPreventaSeleccionado.noEditable==0 || despachoInUseVM.hasPermisoValidador) &&  !viewAllArticulos">
      <div class="col-md-2"></div>
      <div class="col-md-4 text-left">
        <button (click)="onBackItemPreventa()" style="width: 100%;  color:#4183D7;     background: white;     font-size: 18px;   height: 50px;"
          *ngIf="!btnGuardarCargando" class="btn btn-outline-light font-bold " type="button">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior
        </button>
      </div>

      <div class="col-md-4 text-right">
        <button *ngIf="!btnGuardarDespachoCargando" style="width: 100%;  height: 50px;     font-size: 18px;"
          class="btn btn-success font-bold  " type="button" (click)="onNextItemPreventaSubmit()">
          Guardar y Siguiente
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
        <button *ngIf="btnGuardarDespachoCargando" disabled style="width: 100%;  height: 50px;     font-size: 18px;"
          class="btn btn-success font-bold " type="button">
          Guardando...
        </button>
      </div>
    </div>


    <div class="col-md-12 row" *ngIf="viewAllArticulos && despachoPreventaSeleccionado.noEditable==0" >
      <button type="button"
      *ngIf="!btnFinalizarDespachoCargando && !loadingDespachoPreventaDetalle"
      class="btn mr-auto ml-auto btn-info btn-md btn_finaliza_despacho" (click)="openModalConfirmFinalizaDespacho(modalConfirm)">
      FINALIZAR DESPACHO
    </button>

    <button type="button" disabled=true
      *ngIf="btnFinalizarDespachoCargando"
      class="btn mr-auto ml-auto btn-info btn-md btn_finaliza_despacho">
      FINALIZANDO DESPACHO...
    </button>

    </div>


    <div *ngIf="despachoPreventaSeleccionado.noEditable==1 " class="mr-auto ml-auto">
      <h3 *ngIf="despachoInUseVM.estado==2" class="text-danger font-bold mr-auto ml-auto">{{despachoInUseVM.mensaje}}
        - {{despachoInUseVM.usuario}}</h3>

      <h3 *ngIf="despachoInUseVM.estado==4" class="text-success font-bold mr-auto ml-auto">{{despachoInUseVM.mensaje}}
      </h3>
    </div>


  </div>
</ng-template>


<!-- MOVER A OTRO COMPONENTE -->

<!-- MOVER A OTRO COMPONENTE -->

<!-- MOVER A OTRO COMPONENTE -->

<!-- MOVER A OTRO COMPONENTE -->

<!-- MOVER A OTRO COMPONENTE -->

<!-- MOVER A OTRO COMPONENTE -->

<!-- MOVER A OTRO COMPONENTE -->

<!-- MOVER A OTRO COMPONENTE -->

<!-- MOVER A OTRO COMPONENTE -->
<!-- MOVER A OTRO COMPONENTE -->

<ng-template #pickingArticuloLibra>


  <div class="card" style=" margin-left: 10px;">
    <div class="card-body" style="min-height: 500px; max-height: 500px;">
      <div class="row">


        <!-- INFORMACION ARTICULO -->
        <div class="col-md-12">
          <div class="row  p-1">
            <div class="col-md-12">
              <h3 class="font-bold"> <i class="fa fa-shopping-bag"></i>
                {{despachoPreventaArticuloDetalleSelected.codigoArticulo}} |
                {{despachoPreventaArticuloDetalleSelected.articulo}} </h3>
            </div>


            <div class="form-group col-md-6" *ngIf="despachoPreventaArticuloDetalleSelected.estadoId!=1 || this.despachoPreventaSeleccionado.finalizado==1">
              <label>Lote</label>
              <div class="input-group">

                <input [disabled]="true"
                  [(ngModel)]="despachoPreventaArticuloDetalleSelected.lote" type="text" id="inputSearch"
                  class="form-control input_Lote" placeholder="Lote">
              </div>
            </div>


            <div class="form-group col-md-6"
            *ngIf="despachoPreventaArticuloDetalleSelected.estadoId==1 && this.despachoPreventaSeleccionado.finalizado==0">
              <label for="inputEmail4">Lote</label>
              <ng-select   style="  font-size: 30px;" class="customSelect_lote" bindLabel="lote"
                [items]="lotesDisponibles" [ngModelOptions]="{standalone: true}" [searchable]="false" [(ngModel)]="lote"
                [loading]="loadingLote" [clearable]="false" notFoundText="No se encontraron lotes">
                <ng-template ng-label-tmp let-item="item">
                  <span>
                    {{item.lote}}
                  </span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <h4>
                    <span class="font-weight-bold">Lote:</span> {{item.lote}}
                  </h4>
                  <h6>
                    <span class="font-weight-bold">Disponible: </span> {{item.disponible}}
                  </h6>
                  <h6>
                    <span class="font-weight-bold">Vencimiento: </span> {{item.fechExpira | date: 'mediumDate'}}
                  </h6>
                </ng-template>
              </ng-select>
            </div>


            <!-- CANTIDAD PEDIDO | CANTIDAD DESPACHO -->
            <div class="form-group col-md-3"
              *ngIf="!despachoInUseVM.hasPermisoValidador  || despachoPreventaSeleccionado.finalizado==0">
              <label class="font-weight-bold"> Pedido</label>
              <input [(ngModel)]="despachoPreventaArticuloDetalleSelected.pedido" [readonly]="true" step="0.01"
                [min]="0" type="number" id="inputSearch" class="form-control input_CantidadPedido"
                placeholder="Cantidad pedido">
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"> Despacho</label>
              <input [(ngModel)]="despachoPreventaArticuloDetalleSelected.despacho" type="number" id="inputSearch"
                step="0.01" pattern="^[a-zA-Z0-9\.]*$" [min]="0"  (focus)="focusInputDespacho()"
                [readonly]="true"
                class="form-control input_CantidadDespacho " placeholder="0">
            </div>


            <div class="form-group col-md-3"
              *ngIf="despachoInUseVM.hasPermisoValidador  && despachoPreventaSeleccionado.finalizado==1">
              <label> Validado</label>
              <input [(ngModel)]="despachoPreventaArticuloDetalleSelected.validado" type="number" id="inputSearch"
                step="0.01" pattern="^[a-zA-Z0-9\.]*$" (focus)="focusInputValidado()" [min]="0"
                class="form-control input_CantidadDespacho" placeholder="0">
            </div>

            <!-- <div class="col-md-12" >
                   <div class="alert alert-light text-center" role="alert">
                      <h6 class="font-weight-bold text-info"
                          style=" font-size: 20px;">
                        <i class="fa fa-info-circle"></i> Pedido {{despachoPreventaArticuloDetalleSelected.pedido}} {{despachoPreventaArticuloDetalleSelected.unidadMedida}} = {{(despachoPreventaArticuloDetalleSelected.pedido / despachoPreventaArticuloDetalleSelected.peso) | number : '1.1-2'}} Piezas
                      </h6>

                    </div>
                 </div> -->


          </div>
        </div>

        <!-- LISTADO DE ARTICULOS EXTRAS -->
        <div class="col-md-12 " style="    padding-left: 15px;padding-right: 15px;">
          <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true" >
            <div class="w-100" style="min-height: 200px; max-height: 200px;">
              <table class="table table_articulosExtras table-hover mb-0 no-wrap v-middle">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total Peso</th>
                  </tr>
                </thead>

                <tbody>

                  <tr  class="" *ngFor="let item of articulosExtras; let i=index">
                    <td class="">
                      <h5>
                        <span class="font-bold"> {{item.nombre}} | {{item.pesoSeleccionado}} {{item.abreviatura}} </span>
                      </h5>
                    </td>
                    <td *ngIf="despachoPreventaArticuloDetalleSelected.estadoId!=1 || despachoPreventaSeleccionado.finalizado==1">
                      <ng-select style="width: 80px;" [clearable]="false" [readonly]="true" [items]="cantidades"
                        [(ngModel)]="item.cantidadSeleccionada" [searchable]="false" (change)="calcularTotales()"
                        notFoundText="No resultados">
                      </ng-select>
                    </td>
                    <td *ngIf="despachoPreventaArticuloDetalleSelected.estadoId==1 && despachoPreventaSeleccionado.finalizado==0">
                      <input id="typeahead-format"
                      type="number" style="width: 80px;height: 35px; font-weight: 500 ;     margin-top: 1px;
                      margin-bottom: 1px;"   class="form-control"
                      [min]="0"
                      (focus)="focusInputCantidadCanasto(item)"
                      (keyup)="calcularTotales()"
                      oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                      [(ngModel)]="item.cantidadSeleccionada"
                      />
                    </td>
                    <td>
                      <h3>
                        <span *ngIf="item.cantidadSeleccionada && item.pesoSeleccionado">
                          {{item.cantidadSeleccionada * item.pesoSeleccionado |
                          number:'1.2-5'}}
                          {{item.abreviatura}}</span>
                      </h3>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </perfect-scrollbar>
        </div>



        <!-- TOTALES DEL PESO -->
        <div class=" col-md-12 row">
          <div class="col-12">
            <br>
          </div>

          <div class="col-md-4">
            <div class="card  ">
              <div class="card-body  pb-0">
                <div class="d-flex no-block align-items-center">
                  <div><span class="text-danger display-5"><i class="ti-pie-chart"></i></span></div>
                  <div class="ml-auto text-right">
                    <ng-template
                    [ngxPermissionsOnly]="'balanza_manual_despacho'"
                    [ngxPermissionsElse]="elseBlock">
                    <div class="row ">
                      <div class="col-md-4"> </div>
                      <input type="number" step="0.01" [(ngModel)]="pesoBalanzaLBNumber" (keyup)="calcularTotales()" style="font-size: 22px;"
                        class="form-control text-right  font-weight-bold col-md-8">
                    </div>
                    </ng-template>
                    <ng-template #elseBlock>
                      <h2 class="font-weight-bold"> {{pesoBalanzaLBNumber | number:'1.2-2'}} LB</h2>
                    </ng-template>

                    <h4 class="text-danger mb-1">Peso Balanza</h4>
                    <span *ngIf="pesoBalanzaUltimaFecha" class="small">
                      {{pesoBalanzaUltimaFecha | date:'hh:mm:ss a'}}
                    </span>
                    <span *ngIf="pesoBalanza" class="small">
                      | {{pesoBalanza }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card ">
              <div class="card-body">
                <div class="d-flex no-block align-items-center">
                  <div><span class="text-info display-5"><i class="ti-pie-chart"></i></span></div>
                  <div class="ml-auto text-right">
                    <h2 class="font-weight-bold">{{pesoCanastos | number:'1.2-2'}} Lb</h2>
                    <h4 class="text-info">Peso Canastos</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card ">
              <div class="card-body">
                <div class="d-flex no-block align-items-center">
                  <div><span class="text-success display-5"><i class="ti-pie-chart"></i></span></div>
                  <div class="ml-auto text-right">
                    <h2 class="font-weight-bold">{{pesoNeto | number:'1.2-2' }} Lb</h2>
                    <h4 class="text-success">Peso Neto</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class=" col-md-12  row " style="position: absolute; bottom: 0px;">
                        <div class="col-md-12"><hr></div>
                       <div class="col-md-1"></div>
                        <div class="col-md-5 text-left">
                            <button (click)="onBackItem()"  style="width: 100%;  color:#4183D7;     font-size: 18px;   height: 50px;"
                             *ngIf="!btnGuardarCargando"
                             class="btn btn-outline-light font-bold  m-1" type="button" >
                                <i class="fa fa-arrow-left"  aria-hidden="true"></i>    Anterior
                            </button>
                        </div>

                        <div class="col-md-5 text-right">
                            <button
                               style="width: 100%;  height: 50px;     font-size: 18px;"
                               *ngIf="!btnGuardarCargando" class="btn btn-success font-bold  m-1"
                                type="button" (click)="onNextItemSubmit()">
                                Guardar  y Siguiente
                               <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div> -->

      </div>
    </div>
  </div>



</ng-template>

<ng-template #pickingArticuloUnidad>
  <div class="card" style=" margin-left: 10px;">
    <div class="card-body">
      <div class="row">


        <!-- INFORMACION ARTICULO -->
        <div class="col-md-12">
          <div class="row  p-1">
            <div class="col-md-12">
              <h3 class="font-bold"> <i class="fa fa-shopping-bag"></i>
                {{despachoPreventaArticuloDetalleSelected.codigoArticulo}} |
                {{despachoPreventaArticuloDetalleSelected.articulo}} </h3>
            </div>

            <div class="form-group col-md-6" *ngIf="despachoPreventaArticuloDetalleSelected.estadoId!=1 || this.despachoPreventaSeleccionado.finalizado==1 ">
              <label>Lote</label>
              <div class="input-group">

                <input [disabled]="true"
                  [(ngModel)]="despachoPreventaArticuloDetalleSelected.lote" type="text" id="inputSearch"
                  class="form-control input_Lote" placeholder="Lote">
              </div>
            </div>


            <div class="form-group col-md-6"
              *ngIf="despachoPreventaArticuloDetalleSelected.estadoId==1 && this.despachoPreventaSeleccionado.finalizado==0">
              <label for="inputEmail4">Lote</label>
              <ng-select  style="  font-size: 30px;" class="customSelect_lote" bindLabel="lote"
                [items]="lotesDisponibles" [ngModelOptions]="{standalone: true}" [searchable]="false" [(ngModel)]="lote"
                [loading]="loadingLote" [clearable]="false" notFoundText="No se encontraron lotes">
                <ng-template ng-label-tmp let-item="item">
                  <span>
                    {{item.lote}}
                  </span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <h3>
                    <span class="font-weight-bold">Lote:</span> {{item.lote}}
                  </h3>
                  <h4>
                    <span class="font-weight-bold">Disponible: </span> {{item.disponible}}
                  </h4>
                  <h5>
                    <span class="font-weight-bold">Vencimiento: </span> {{item.fechExpira | date: 'mediumDate'}}
                  </h5>
                </ng-template>
              </ng-select>
            </div>
            <!-- CANTIDAD PEDIDO | CANTIDAD DESPACHO -->
            <div class="form-group col-md-3"
              *ngIf="!despachoInUseVM.hasPermisoValidador  || despachoPreventaSeleccionado.finalizado==0">
              <label class="font-weight-bold"> Pedido</label>
              <input [(ngModel)]="despachoPreventaArticuloDetalleSelected.pedido" [readonly]="true" type="number"
                id="inputSearch" class="form-control input_CantidadPedido" placeholder="Cantidad pedido">
            </div>

            <div class="form-group col-md-3">
              <label class="font-weight-bold"> Despacho</label>
              <input
                [(ngModel)]="despachoPreventaArticuloDetalleSelected.despacho" (focus)="focusInputDespacho()"
                [readonly]="lote.disponible==undefined"
                [ngClass]="{'parpadea_focus': despachoPreventaArticuloDetalleSelected.estadoId==1}"
                type="number" id="inputSearch" class="form-control input_CantidadDespacho parpadea_focus" placeholder="0">
            </div>

            <div class="form-group col-md-3" *ngIf="despachoInUseVM.hasPermisoValidador">
              <label> Validado</label>
              <input [(ngModel)]="despachoPreventaArticuloDetalleSelected.validado" type="number" id="inputSearch"
                [min]="0" (focus)="focusInputValidado()" class="form-control input_CantidadDespacho" placeholder="0">
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #pickingArticuloCanasto>
  <div class="card" style=" margin-left: 10px;">
    <div class="card-body">
      <div class="row">


        <!-- INFORMACION ARTICULO -->
        <div class="col-md-12">
          <div class="row  p-1">
            <div class="col-md-12">
              <h3 class="font-bold"> <i class="fa fa-shopping-bag"></i>
                {{despachoPreventaArticuloDetalleSelected.codigoArticulo}} |
                {{despachoPreventaArticuloDetalleSelected.articulo}} </h3>
            </div>
            <!-- INPUTS LOTE -->
            <div class="form-group col-md-6">
              <label for="inputEmail4">Almacén Origen </label>
              <ng-select bindLabel="nombre" bindValue="codigo"
                [(ngModel)]="despachoPreventaArticuloDetalleSelected.almacenOrigenId" [items]="almacenes"
                [clearable]="false" [loading]="loadingAlmacenes" notFoundText="No resultados" [readonly]="true">
              </ng-select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Almacén Destino </label>
              <ng-select bindLabel="nombre" bindValue="codigo"
                [(ngModel)]="despachoPreventaArticuloDetalleSelected.almacenDestinoId" [items]="almacenes"
                [clearable]="false" [readonly]="true" [loading]="loadingAlmacenes" notFoundText="No resultados">
              </ng-select>
            </div>



            <!-- CANTIDAD PEDIDO | CANTIDAD DESPACHO -->
            <!-- <div class="form-group col-md-3" >
                          <label> Pedido</label>
                          <input [(ngModel)]="despachoPreventaArticuloDetalleSelected.pedido"
                            [readonly]="true"  type="number" id="inputSearch"
                          class="form-control input_CantidadPedido" placeholder="Cantidad pedido">
                      </div> -->

            <div class="form-group col-md-6">
              <label> Cantidad</label>
              <input [readonly]="despachoPreventaSeleccionado.noEditable==1"
                [(ngModel)]="despachoPreventaArticuloDetalleSelected.despacho" type="number" id="inputSearch"
                class="form-control input_CantidadDespacho" placeholder="0">
            </div>

          </div>
        </div>



        <div class=" col-md-12  row " *ngIf="despachoPreventaSeleccionado.noEditable==0"
          style="position: absolute; bottom: 0px;">
          <div class="col-md-12">
            <hr>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 text-left">
            <button (click)="onBackItemPreventa()"
              style="width: 100%;  color:#4183D7;     font-size: 18px;   height: 65px;" *ngIf="!btnGuardarCargando"
              class="btn btn-outline-light font-bold  m-1" type="button">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior
            </button>
          </div>

          <div class="col-md-5 text-right">
            <button style="width: 100%;  height: 65px;     font-size: 18px;" *ngIf="!btnGuardarDespachoCargando"
              class="btn btn-success font-bold  m-1" type="button" (click)="onNextItemPreventaSubmit()">
              Guardar y Siguiente
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>

            <button *ngIf="btnGuardarDespachoCargando" disabled style="width: 100%;  height: 65px;     font-size: 18px;"
              class="btn btn-success font-bold  m-1" type="button">
              Guardando...
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalConfirm let-modal>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Confirmación</h4>
          <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <i class="fa fa-question fa-3x text-info"></i>
          <p class="mt-2"><strong>¿Estás seguro/a de finalizar este despacho?</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="finalizaDespacho(3)">Si</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #modalConfirmManual let-modal>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Confirmación</h4>
          <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <i class="fa fa-question fa-3x text-info"></i>
          <p class="mt-2"><strong>¿Estás seguro/a de efectuar manualmente este despacho?</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="finalizaDespacho(2)">Si</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
