<div class="row">
    <div class="control-section">
        <div id="control_wrapper">
        </div>
    </div>
</div>

<!-- <div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</div> -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-12">
                        <h4 class="card-title">Mi cuenta</h4>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 text-right">
                         <button  class="btn btn-primary" (click)="open1(content1)"> Cambiar contraseña</button>
                    </div>

                </div>
                <!-- <form class="form-row m-t-40" [formGroup]="Formulario" (ngSubmit)="onSubmit()">

                    <div class="form-group col-md-6">
                        <label for="userName"> <i class="fa fa-user-circle"></i> Usuario</label>
                        <input formControlName="userName" type="text" name="userName" id="userName"
                            [ngClass]="{'is-invalid' : submitted && f.userName.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.userName.errors">
                            <div *ngIf="f.userName.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email"> <i class="fa fa-envelope-open"></i> Email</label>
                        <input formControlName="email" type="email" name="email" id="email"
                            [ngClass]="{'is-invalid' : submitted && f.email.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
                            <div *ngIf="f.email.errors.required">El campo es obligatorio</div>
                            <div *ngIf="f.email.errors.email"> Ingresa un email correcto</div>
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <label for="inputEmail4"> <i class="fa fa-id-card"></i> Tipo de Documento</label>
                        <ng-select bindLabel="nombre" bindValue="codigo" [items]="documentos"
                            [loading]="loadingDocumentos" [clearable]="false"
                            [ngClass]="{'form-control border-danger p-0' : submitted && f.documentoTipoID.errors }"
                            notFoundText="No resultados" formControlName="documentoTipoID">
                        </ng-select>
                        <div *ngIf="submitted && f.documentoTipoID.errors" class="text-danger small">
                            <div *ngIf="f.documentoTipoID.errors.required  ">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="documento"> <i class="fa fa-id-card"></i> Documento</label>
                        <div class="input-group">
                            <input (keyup)="onDocumentoKeyUp()" formControlName="documento" type="text" name="documento"
                                id="documento"
                                [ngClass]="{'is-invalid' :f.documento.value && f.documento.errors,  'form-control':true  }">
                            <div class="input-group-append" *ngIf="buscandoDocumento">
                                <span class="input-group-text bg-white border-0"> <i
                                        class="fa fa-spin fa-spinner"></i></span>
                            </div>
                        </div>
                        <div class="text-danger pt-1" style="font-size:13px"
                            *ngIf="f.documento.value && f.documento.errors">
                            <div *ngIf="f.documento.errors.required">El campo es obligatorio</div>
                            <div *ngIf="f.documento.errors.cedulaestructura">Documento no válido</div>
                            <div *ngIf="f.documento.errors.minlength">Mínimo 9 caracteres</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="nombres"><i class=""></i> Nombres</label>
                        <input formControlName="nombres" type="text" name="nombres" id="nombres"
                            [ngClass]="{'is-invalid' : submitted && f.nombres.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.nombres.errors">
                            <div *ngIf="f.nombres.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="apellidos">Apellidos</label>
                        <input formControlName="apellidos" type="text" name="apellidos" id="apellidos"
                            [ngClass]="{'is-invalid' : submitted && f.apellidos.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.apellidos.errors">
                            <div *ngIf="f.apellidos.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="telefono"><i class="fa fa-phone"></i> Teléfono</label>
                        <input formControlName="telefono" type="text" name="telefono" id="telefono"
                            [ngClass]="{'is-invalid' : submitted && f.telefono.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.telefono.errors">
                            <div *ngIf="f.telefono.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="celular"><i class="fa fa-mobile"></i> Celular</label>
                        <input formControlName="celular" type="text" name="celular" id="celular"
                            [ngClass]="{'is-invalid' : submitted && f.celular.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.celular.errors">
                            <div *ngIf="f.celular.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>


                    <div class="form-group col-md-12">
                        <label for="direccion"> Dirección</label>
                        <textarea rows="3" formControlName="direccion" name="direccion" id="direccion"
                            [ngClass]="{'is-invalid' : submitted && f.direccion.errors,  'form-control':true  }"> </textarea>
                        <div class="invalid-feedback" *ngIf="submitted && f.direccion.errors">
                            <div *ngIf="f.direccion.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>





                    <div class="form-group text-right col-md-12">
                        <hr />

                        <button class="btn btn-light m-1" routerLink="../" type="button">
                            <i class="fas fa-times"></i> Cancelar
                        </button>

                        <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="submit">
                            <i class="fas fa-check"></i> Guardar
                        </button>

                        <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span> Guardando
                        </button>
                    </div>

                </form> -->
            </div>
        </div>
    </div>
    <ng-template #content1 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Cambiar mi Contraseña</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="FormularioChangePassword" (ngSubmit)="onSubmitChangePassword()">
                <div class="form-group col-md-10">
                    <label for="passwordActual"> <i class="fa fa-key"></i> Contraseña (Actual)</label>
                    <input formControlName="passwordActual" type="password" name="passwordActual" id="passwordActual"
                       autocomplete="off"  [ngClass]="{'is-invalid' : submittedPassword && fC.passwordActual.errors,  'form-control':true  }">
                    <div class="invalid-feedback" *ngIf="submittedPassword && fC.passwordActual.errors">
                        <div *ngIf="fC.passwordActual.errors.required">El campo es obligatorio</div>
                    </div>
                </div>
                    <div class="form-group col-md-10">
                        <label for="password"> <i class="fa fa-key"></i> Contraseña</label>
                        <input formControlName="password" type="password" name="password" id="password"
                             [ngClass]="{'is-invalid' : submittedPassword && fC.password.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submittedPassword && fC.password.errors">
                            <div *ngIf="fC.password.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <label for="passwordConfirm"> <i class="fa fa-key"></i>Confirmar Contraseña</label>
                        <input formControlName="passwordConfirm" type="password" name="passwordConfirm" id="passwordConfirm"
                             [ngClass]="{'is-invalid' : submittedPassword && fC.passwordConfirm.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submittedPassword && fC.passwordConfirm.errors">
                            <div *ngIf="fC.passwordConfirm.errors.required  ">Confirma tu clave</div>
                            <div *ngIf="fC.passwordConfirm.errors.mustMatch  ">Las claves deben ser iguales</div>
                        </div>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cancelar</button>
            <button class="btn btn-primary w-100  text-white" type="submit" (click)="onSubmitChangePassword()" [disabled]="loadingButtonCambiar">
                Cambiar
                <i *ngIf="loadingButtonCambiar && submittedPassword" class="fa fa-spin fa-spinner"></i>
            </button>
        </div>
    </ng-template>


</div>



