

  <div class="modal-header " style="    box-shadow: 0 1px 3px rgb(225 225 225 / 12%), 0 1px 2px rgb(211 211 211 / 24%);">

    <div class="row" *ngIf="!loadingInfoCliente && clienteExiste">

      <div class="col-12 ml-0 mb-1">
         <h4 class="modal-title font-weight-bold"   id="modal-basic-title" style="font-size: 25px;">Bienvenido, {{cliente.nombres | titlecase}}</h4>
      </div>

        <div class="col-12 mb-1">
          <div class="row">
            <div class="col-lg-3 col-md-4 mt-2 ">
              <div class="card overflow-hidden shadow-sm p-1 mb-0">
                <div class="d-flex flex-row  p-1">
                  <div>
                    <span class="font-weight-bold text-black-50">Condición de pago</span>
                    <span class="badge badge-info">{{cliente.condicionPago}}</span>
                  </div>
                  <div>
                    <span class="font-weight-bold text-black-50">Plazo</span>
                    <span class="badge badge-info">{{cliente.plazo}}</span>
                  </div>


                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-2">
              <div class="card overflow-hidden mb-0">
                <div class="d-flex flex-row">
                  <div class="p-1 bg-light-warning">
                    <h3 class="text-warning box mb-0">
                      <i class="fa fa-money-bill-alt"></i>
                    </h3>
                  </div>
                  <div class="p-1">
                    <h3 class="text-warning mb-0">{{cliente.limiteCredito  | currency}}</h3>
                    <span class="font-weight-bold text-black-50">Limite de credito</span>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-3 col-md-4  mt-2">
              <div class="card overflow-hidden mb-0">
                <div class="d-flex flex-row">
                  <div class="p-1 bg-light-success">
                    <h3 class="text-success box mb-0">
                      <i class="fa fa-money-bill-alt"></i>
                    </h3>
                  </div>
                  <div class="p-1">
                    <h3 class="text-success mb-0">{{cliente.balance | currency}}</h3>
                    <span class="font-weight-bold text-black-50">Balance</span>
                  </div>
                </div>
              </div>
            </div>

            <div class=" col-lg-3 col-md-4  mt-2">
              <div class="card overflow-hidden mb-0">
                <div class="d-flex flex-row">
                  <div class="p-1 bg-light-success">
                    <h3 class="text-success box mb-0">
                      <i class="fa fa-money-bill-alt"></i>
                    </h3>
                  </div>
                  <div class="p-1">
                    <h3 class="text-success mb-0">{{cliente.balance | currency}}</h3>
                    <span class="font-weight-bold text-black-50">TOTAL PEDIDO</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

    </div>


    <!-- LOADING INFO CLIENTE -->
    <div class="row w-75" *ngIf="loadingInfoCliente" >

      <div class="col-12 ml-0">
        <ngx-skeleton-loader     [theme]="{    width: '400px' }" count="1" ></ngx-skeleton-loader>
      </div>

        <div class="col-12">
          <div class="row">
            <div class=" col-lg-3 col-md-4 d-inline-block">
              <div class="section-wrapper d-inline-flex">
                <div class="icon">
                  <ngx-skeleton-loader [theme]="{ width: '55px', height: '55px' }">
                  </ngx-skeleton-loader>
                </div>
                <div class="title ml-2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '200px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-top': '6px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '170px',
                        'border-radius': '0',
                        'margin-top': '-5px',
                        height: '15px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>
                </div>
              </div>

            </div>
            <div class=" col-lg-3 col-md-4 d-inline-block">
              <div class="section-wrapper d-inline-flex">
                <div class="icon">
                  <ngx-skeleton-loader [theme]="{ width: '55px', height: '55px' }">
                  </ngx-skeleton-loader>
                </div>
                <div class="title ml-2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '200px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-top': '6px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '170px',
                        'border-radius': '0',
                        'margin-top': '-5px',
                        height: '15px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>
                </div>
              </div>

            </div>
            <div class=" col-lg-3 col-md-4 d-inline-block">
              <div class="section-wrapper d-inline-flex">
                <div class="icon">
                  <ngx-skeleton-loader [theme]="{ width: '55px', height: '55px' }">
                  </ngx-skeleton-loader>
                </div>
                <div class="title ml-2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '200px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-top': '6px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>
                  <div>
                    <ngx-skeleton-loader
                    [theme]="{
                      width: '170px',
                      'border-radius': '0',
                      'margin-top': '-5px',
                      height: '15px'
                    }"
                    ></ngx-skeleton-loader>
                  </div>
                </div>
              </div>

            </div>
            <div class=" col-lg-3 col-md-4 d-inline-block">
              <div class="section-wrapper d-inline-flex">
                <div class="icon">
                  <ngx-skeleton-loader [theme]="{ width: '55px', height: '55px' }">
                  </ngx-skeleton-loader>
                </div>
                <div class="title ml-2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '200px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-top': '6px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>
                  <div>
                    <ngx-skeleton-loader
                    [theme]="{
                      width: '170px',
                      'border-radius': '0',
                      'margin-top': '-5px',
                      height: '15px'
                    }"
                    ></ngx-skeleton-loader>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

    </div>



    <div class="row ">
      <button type="button" style="    z-index: 10;" class="btn btn-danger" aria-label="Close"   (click)=" closeModal()" >
        <i class="fa fa-window-close"></i>
         Cerrar
      </button>
    </div>

  </div>
  <div class="modal-body">

    <div  class="row"  *ngIf="!loadingInfoCliente">
      <div class="col-1"></div>
      <div class="col-10  productos_factura" @onProductos   *ngIf="showView=='products'" >
         <app-pedidos-empleado-productos
          [articulos]="articulosData"
          (articulosInCart)="refreshCart()">
        </app-pedidos-empleado-productos>
      </div>

      <div class="col-10" @onCarrito *ngIf="showView=='cart'" >
         <app-pedidos-empleado-carrito
         [ITBIS]="ITBIS"
         [clienteInfo]="cliente"
         (pedidoSendToCreate)="beforeCrearPedido($event)"
         (articulosInCart)="refreshCart()">
         </app-pedidos-empleado-carrito>
      </div>

     <div class="col-10 " style="    min-height: 650px;" @onCarrito *ngIf="showView=='creandoPedido'" >
           <!-- Column -->
          <div class="text-center mt-5" *ngIf="btnCrearCargando">
            <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 100px;"></i><br>
             <app-loading-realtime></app-loading-realtime> <h3 class="font-weight-bold">Creando pedido, un momento.</h3>
          </div>
          <div class="text-center mt-5" *ngIf="!btnCrearCargando">
            <i class="fa fa-check-circle text-success" aria-hidden="true" style="font-size: 100px;"></i><br>
            <h3 class="font-weight-bold mt-1">Pedido creado correctamente.</h3>
          </div>
     </div>
    </div>



  </div>
  <div class="modal-footer  d-flex justify-content-center" style=" position: fixed; border: none;
  bottom: 0;
  width: 100%;">


    <!-- CUANDO ESTE SELECCIONANDO EN EL CARRITO -->

    <button type="button" *ngIf="showView=='products'" class="btn btn-success  mb-3 font-weight-bold p-2 pr-2 pl-2" style=" border-radius: 10px;"
        (click)="changeView('cart')">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      IR AL CARRITO
      <span class="badge rounded-pill bg-light text-dark ml-1 font-weight-bold ">{{articulosInCart.length}}</span>    </button>

    <!-- CUANDO ESTE SELECCIONANDO EN EL CARRITO -->

      <button *ngIf="showView=='cart'"
      style=" border-radius: 10px;"
       class="btn   btn-outline-success btn_volverTienda  mb-3 font-weight-bold p-2 pr-2 pl-2"
        (click)="changeView('products')" >
        <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24"
        fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round"
         class="feather feather-arrow-left fill-white feather-sm">
         <line x1="19" y1="12" x2="5" y2="12"></line>
         <polyline points="12 19 5 12 12 5"></polyline></svg>
          Volver a la tienda
      </button>

      <button *ngIf="showView=='creandoPedido' && !btnCrearCargando"
      style=" border-radius: 10px;"
       class="btn   btn-outline-dark  mb-3 font-weight-bold p-2 pr-2 pl-2"
        (click)="changeView('cart')" >
           Ver estado pedido
      </button>

  </div>





