<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6 align-middle">
                        <h4 class="card-title">Listado de cotizaciones</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button [routerLink]="[0]" class="btn btn-info"> <i class="fa fa-plus"></i> Nueva
                            cotización
                        </button>
                    </div>
                    

                    <div class="col-md-3 pt-2">
                        <label for="">Busqueda</label>
                        <div class="input-group">
            
                          <div class="input-group-prepend">
                            <label for="search" class="input-group-text bg-white">
                              <span class="bg-white" style="border-right:none">
                                <i class="ti-search"></i>
                              </span>
                            </label>
                          </div>
                          <input [(ngModel)]="Search" (keyup)="getData()" type="text"
                            style="border-left:none !important;" class="form-control" placeholder="Buscar">
                        </div>
                      </div>
                      <div class="form-group col-md-3 pt-2">
                        <label for="">Vendedor</label>
                        <ng-select [searchable]="true" bindLabel="nombre" bindValue="codigo" [items]="vendedores"
                          [loading]="loadingVendedores" [clearable]=false [(ngModel)]="vendedor" (change)="onChangeVendedor($event)"
                          placeholder="Seleccione un vendedor"
                          notFoundText="No resultados">
                        </ng-select>
                      </div>
            
                      <div class="form-group col-md-3 pt-2">
                        <label for="">Fecha</label>
                        <ejs-datepicker [allowEdit]="false" [showClearButton]="false" (change)="onChangeFecha($event)"
                          [(ngModel)]="fecha" [format]="'dd-MM-yyyy'">
                        </ejs-datepicker>
                      </div>
            
                      <div class="form-group col-md-3 pt-2">
                        <label for="">EstadoERP</label>
                        <ng-select [items]="estadoERPs" [searchable]="true" bindLabel="nombre" bindValue="codigo" (change)="onChangeEstadoERP($event)"
                          [loading]="loadingEstadosERP"  placeholder="Seleccione un estado"
                          [clearable]="false" notFoundText="No resultados" [(ngModel)]="estadoERPID">
                        </ng-select>
                      </div>
                    
                </div>

                <div class="table-responsive">
                    <table class="table table-hover mb-0 no-wrap v-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>#</th>
                                <th>Cliente</th>
                                <th>Vendedor</th>
                                <th>SubTotal</th>
                                <th>Desc.</th>
                                <th>Imp.</th>
                                <th>Total Neto</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>EstadoERP</th>
                                <!-- <th>Cotizador</th> -->
                                <!-- <th>Estado</th> -->
                            </tr>
                        </thead>
                        <tbody [hidden]="Cargando">

                            <tr *ngFor="let item of data; let i = index">
                                <td>

                                    <button class="btn btn-sm btn-light"
                                        (click)="openModal(modalDetalleCotizacion,item)">
                                        <i class="fa fa-sm fa-eye"></i>
                                    </button>

                                    <button class="btn btn-sm btn-info m-1" [routerLink]="[item.id]">
                                        <i class="fa fa-sm fa-edit"></i>
                                    </button>

                                    <button class="btn btn-sm btn-light"
                                        (click)="openModalMapaRelacion(modalMapaRelacion)">
                                        <i class="fa fa-sm fa-sitemap"></i>
                                    </button>

                                </td>
                                <td><span class="badge badge-light text-info ">{{item.id}}</span></td>
                                <td>#{{item.codigoReferencia}}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <!-- <i class="fa fa-user-circle fa-3x text-light"></i> -->
                                        <div class="ml-3">
                                            <p class="font-bold mb-0">#{{item.clienteCodigoReferencia}} | {{item.cliente
                                                |
                                                titlecase }}
                                            </p>
                                            <!-- <small class="text-info"> <i class="fa fa-id-card"></i>
                                                {{item.clienteDocumento | uppercase }}</small> -->
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.vendedor}}</td>
                                <td>
                                    <span> ${{item.subTotal | number:'1.2-2'}}</span>
                                </td>
                                <td>
                                    <span> ${{item.descuentoTotal | number:'1.2-2'}}</span>
                                </td>
                                <td>
                                    <span> ${{item.impuestoTotal | number:'1.2-2'}}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold"> ${{item.totalNeto | number:'1.2-2'}}</span>
                                </td>
                                <td>
                                    <span class="text-muted"><i class="far fa-calendar"></i>
                                        {{item.fechaCreacion | date:'dd/MM/yy' }}
                                    </span>
                                </td>
                                <td>
                                    <span> {{item.estado }}</span>
                                </td>
                                <td>
                                    
                                    <h5 *ngIf="item.estadoERPID==1" >
                                        <span> <i class="fa fa-circle"
                                                [ngStyle]="{'color': '#f4d03f'}"></i>
                                           Pendiente</span>
                                        </h5>
                                          <h5 *ngIf="item.estadoERPID==0" >
                                            <span> <i class="fa fa-circle"
                                                    [ngStyle]="{'color': '#82e0aa'}"></i>
                                                    Sincronizado</span>
                                            </h5>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>



                <app-loading-listado [hidden]="!Cargando"></app-loading-listado>

                <div class="row ">
                    <div class="col-md-8 col-xs-12 ">
                        <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual"
                            [pageSize]="paginaSize" [maxSize]="5" [boundaryLinks]="true" (pageChange)="getData()">
                        </ngb-pagination>
                    </div>

                    <div class="col-md-4 text-right d-none d-md-block  ">
                        <select class="form-control d-block" name="paginaSize" [(ngModel)]="paginaSize"
                            (change)="getData()">
                            <option [ngValue]="5">5 registro por pagina</option>
                            <option [ngValue]="10">10 registro por pagina</option>
                            <option [ngValue]="20">20 registro por pagina</option>
                            <option [ngValue]="50">50 registro por pagina</option>
                            <option [ngValue]="100">100 registro por pagina</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<ng-template #modalDetalleCotizacion let-modal>
    <div class="modal-header">
        <span class="badge badge-light text-info mt-1 mr-1">{{cotizacionSeleccionada.id}}</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="font-weight-bold"> #{{cotizacionSeleccionada.codigoReferencia}}</h5>
                <h5 class="text-info"> <i class="fa fa-user"></i>
                    Cliente: {{cotizacionSeleccionada.clienteCodigoReferencia}} | {{cotizacionSeleccionada.cliente}}
                </h5>
                <h5> <i class="fa fa-id-card"></i> Documento: {{cotizacionSeleccionada.clienteDocumento}}</h5>
                <h5> <i class="fa fa-dollar-sign"></i>
                    <span> Pago: {{cotizacionSeleccionada.clienteCodicionPago}}</span>
                    <span> | </span>
                    <span> Plazo: {{cotizacionSeleccionada.diasPlazo}} </span>
                </h5>

            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h5>
                    <i class="fa fa-calendar"></i>
                    Fecha: {{cotizacionSeleccionada.fechaCreacion | date:'dd/MM/yy'}} | Entrega:
                    {{cotizacionSeleccionada.fechaEntrega | date:'dd/MM/yy'}}
                </h5>
                <h5> <i class="fa fa-user-circle"></i> Usuario: {{cotizacionSeleccionada.cotizador}}</h5>
                <h5> <i class="fa fa-map-marker"></i> Sucursal: {{cotizacionSeleccionada.sucursal}}</h5>
                <h5> <i class="fa fa-user"></i> Vendedor: {{cotizacionSeleccionada.vendedor}}</h5>
            </div>

            <div class="col-12" [hidden]="loadingCotizacionDetalle">

                <div class="table-responsive">
                    <table class="table table-sm table-hover mb-0 no-wrap v-middle">
                        <thead>
                            <tr>
                                <!-- <th></th> -->
                                <th>Artículo</th>
                                <th>Cant</th>
                                <th>Precio</th>
                                <th>% Desc</th>
                                <th>SubTotal</th>
                                <th>Desc</th>
                                <th>Imp</th>
                                <th>Total Neto</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of cotizacionDetalles">
                                <!-- <td>
                                    <span class="badge badge-light text-info ">{{item.id}}</span>
                                </td> -->
                                <td>
                                    <span>{{item.articuloCodRef}} | {{item.articulo}}</span>
                                </td>
                                <td>
                                    <span> {{item.cantidad}}</span>
                                </td>
                                <td>
                                    <span> ${{item.precio | number:'1.2-2'}} </span>
                                </td>
                                <td>
                                    <span> {{item.porcientoDescuento | number:'1.2-2'}}%</span>
                                </td>
                                <td>
                                    <span> ${{item.subtotal | number:'1.2-2'}} </span>
                                </td>
                                <td>
                                    <span> ${{item.totalDescuento | number:'1.2-2'}} </span>
                                </td>
                                <td>
                                    <span> ${{item.totalImpuesto | number:'1.2-2'}} </span>
                                </td>
                                <td>
                                    <span class="font-weight-bold"> ${{item.totalNeto | number:'1.2-2'}} </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>


            </div>

            <div class="col-12">
                <app-loading-listado [hidden]="!loadingCotizacionDetalle"></app-loading-listado>
            </div>


            <div class="col-12 text-right">
                <hr>
                <h4>Subtotal: $ {{cotizacionSeleccionada.subTotal | number:'1.2-2' }}</h4>
                <h4>Descuento: $ {{cotizacionSeleccionada.descuentoTotal | number:'1.2-2' }}</h4>
                <h4>Impuesto: $ {{cotizacionSeleccionada.impuestoTotal | number:'1.2-2' }}</h4>
                <h4 class="font-weight-bold">Total Neto: $ {{cotizacionSeleccionada.totalNeto | number:'1.2-2' }}</h4>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light m-1" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>


<ng-template #modalMapaRelacion let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Mapa de relación</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">

            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <ul class="timeline position-relative list-unstyled">


                            <li class="timeline-item position-relative mb-4">
                                <div
                                    class="timeline-badge text-center text-white overflow-hidden rounded-circle bg-danger">
                                    <span class="fs-2">2018</span>
                                </div>
                                <div class="timeline-panel position-relative border rounded p-4">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title mt-0 fw-normal">Genelia</h4>
                                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via
                                                Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit
                                            similique nihil iure molestias aliquam, voluptatem totam quaerat, magni
                                            commodi quisquam.</p>
                                    </div>
                                </div>
                            </li>


                            <li class="timeline-inverted timeline-item position-relative mb-4">

                                <div
                                    class="timeline-badge text-center text-white overflow-hidden rounded-circle bg-success">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="timeline-panel position-relative border rounded p-4">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title mt-0 fw-normal">Lorem ipsum dolor</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos,
                                            alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero,
                                            omnis ut debitis!</p>
                                    </div>
                                </div>
                            </li>


                            <li class="timeline-item position-relative mb-4">
                                <div
                                    class="timeline-badge text-center text-white overflow-hidden rounded-circle bg-info">
                                    <i class="fa fa-save"></i>
                                </div>
                                <div class="timeline-panel position-relative border rounded p-4">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title mt-0 fw-normal">Lorem ipsum dolor</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                                            minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt,
                                            quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum,
                                            atque.</p>
                                        <hr>
                                        <div class="btn-group"><button type="button" data-toggle="dropdown"
                                                class="btn btn-primary btn-sm dropdown-toggle"><i
                                                    class="fa fa-cog"></i><span class="caret"></span></button>
                                            <div class="dropdown-menu"><a href="javascript:void(0)"
                                                    class="dropdown-item">Action</a><a href="javascript:void(0)"
                                                    class="dropdown-item">Another action</a><a href="javascript:void(0)"
                                                    class="dropdown-item">Something else here</a>
                                                <div class="dropdown-divider"></div><a href="javascript:void(0)"
                                                    class="dropdown-item">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>


            </div>


            <div class="col-12">
                <app-loading-listado [hidden]="!loadingCotizacionDetalle"></app-loading-listado>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light m-1" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>