<div class="row" *ngxPermissionsOnly="['autorizacion_solicitud_compras'] ; else PermissionDenied;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6 align-middle">
                        <h4 class="card-title">Solicitudes por autorizar</h4>
                    </div>
                    <!-- <div class="col-md-6 text-right">
                        <button type="button" (click)="autorizarMasiva()" class="btn btn-info"> <i
                                class="fa fa-check"></i> Autorizar todos
                        </button>
                    </div> -->
                    <div class="col-md-8 p-2">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="search" class="input-group-text bg-white">
                                    <span class="bg-white" style="border-right:none">
                                        <i class="ti-search"></i>
                                    </span>
                                </label>
                            </div>
                            <input [(ngModel)]="Search" (keyup)="getData()" type="text"
                                style="border-left:none !important;" class="form-control" placeholder="Buscar">
                        </div>
                    </div>

                    <div class=" p-2 col-md-4">
                        <ng-select [items]="estadosAutorizacion" bindLabel="nombre" bindValue="codigo"
                            (change)="getData()" [(ngModel)]="estadoAutorizacionComboModel" [clearable]="false"
                            notFoundText="No resultados">
                        </ng-select>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table table-hover mb-0 no-wrap v-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Solicitante</th>
                                <th>Destino</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody [hidden]="Cargando">

                            <tr *ngFor="let item of data">
                                <td>

                                    <ng-template
                                        [ngIf]="estadoAutorizacionAnterior && item.estadoID == estadoAutorizacionAnterior.codigo">

                                        <button class="btn btn-sm btn-success m-1" *ngIf="!item.cargando"
                                            (click)="autorizar(item)">
                                            <i class="fa fa-sm fa-check"></i>
                                        </button>

                                        <!-- boton cargando -->
                                        <button *ngIf="item.cargando && isAutorizando" disabled
                                            class="btn btn-success m-1" type="button">
                                            <span class="spinner-border spinner-border-sm"></span>
                                        </button>

                                    </ng-template>


                                    <ng-template [ngIf]="item.estadoID == estadoAutorizacionUsuario ">

                                        <button *ngIf="!item.cargando" class="btn btn-sm btn-warning m-1"
                                            (click)="openModal(modalConfirm,1,item)">
                                            <!-- (click)="desautorizar(item)"> -->
                                            <i class="fa fa-sm fa-times"></i>
                                        </button>

                                        <!-- boton cargando -->
                                        <button *ngIf="item.cargando && !isAutorizando " disabled
                                            class="btn btn-warning m-1" type="button">
                                            <span class="spinner-border spinner-border-sm"></span>
                                        </button>

                                    </ng-template>

                                </td>
                                <td>
                                    <span class="badge badge-light text-info ">{{item.id}}</span> |
                                    <small class="badge" [ngClass]="{'badge-danger': item.tipoID == 2}"> {{
                                        item.tipo}}</small>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-user fa-3x text-light"></i>
                                        <div class="ml-3">
                                            <p class="font-bold mb-0"><span>{{item.solicitante | titlecase }} </span>
                                            </p>
                                            <small class="text-info"> <i class="fa fa-warehouse"></i>
                                                {{item.departamentoSolicitante
                                                }}</small> |
                                            <small class="text-info"><i class="fa fa-map-marker"></i>
                                                {{item.sucursalSolicitante }}</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <small> <i class="fa fa-warehouse"></i> {{item.departamentoDestino
                                        }}</small> <br>
                                    <small><i class="fa fa-map-marker"></i> {{item.sucursalDestino }}</small>
                                </td>
                                <td>
                                    <small> <i class="fa fa-user text-muted"></i> Comprador: {{item.comprador}}</small>
                                    <br>
                                    <small> <i class="fa fa-user-circle text-muted"></i> Proveedor:
                                        {{item.proveedor}}</small>
                                </td>
                                <td>
                                    <small class="text-info font-weight-bold"> <i class="fa fa-clock "></i> Solicitud:
                                        {{item.fechaSolicitud|
                                        date:'M/d/yy, h:mm a'}}</small>
                                    <!-- <br>
                                    <small> <i class="fa fa-calendar-alt text-muted"></i> Entrega: {{item.fechaEntrega |
                                        date:'dd/MM/yyyy'}}</small> -->
                                </td>
                                <!-- <td>
                                    <button class="btn btn-sm btn-info" [routerLink]="[item.id]">
                                        <i class="fa fa-sm fa-edit"></i>
                                    </button>
                                </td> -->

                                <td>
                                    <h3>
                                        <span class="badge badge-light"> {{item.estado}}</span>
                                    </h3>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>



                <app-loading-listado [hidden]="!Cargando"></app-loading-listado>

                <div class="row ">
                    <div class="col-md-8 col-xs-12 ">
                        <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual"
                            [pageSize]="paginaSize" [maxSize]="5" [boundaryLinks]="true" (pageChange)="getData()">
                        </ngb-pagination>
                    </div>

                    <div class="col-md-4 text-right d-none d-md-block  ">
                        <select class="form-control d-block" name="paginaSize" [(ngModel)]="paginaSize"
                            (change)="getData()">
                            <option [ngValue]="5">5 registro por pagina</option>
                            <option [ngValue]="10">10 registro por pagina</option>
                            <option [ngValue]="15">15 registro por pagina</option>
                            <option [ngValue]="50">50 registro por pagina</option>
                            <option [ngValue]="100">100 registro por pagina</option>
                            <option [ngValue]="150">150 registro por pagina</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<ng-template #PermissionDenied>

    <app-error-permission-denied></app-error-permission-denied>

</ng-template>


<ng-template #modalConfirm let-modal>
    <div class="container-fluid">
        <div class="row" *ngIf="!cargandoAutorizacion">
            <div class="col">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">Confirmación</h4>
                    <button type="button" class="close" aria-describedby="modal-title"
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col  text-center">
                            <i class="fa fa-question fa-3x text-info"></i>
                            <p class="mt-2"><strong>¿Estás seguro?</strong></p>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="descripcion"> Comentario</label>
                            <textarea class="form-control" [(ngModel)]="comentario" rows="3"></textarea>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary"
                        (click)="modal.close('Close click')">Cancel</button>
                    <button type="button" class="btn btn-info" (click)="onBtnModalOk()">Ok</button>
                </div>
            </div>
        </div>

        <app-loading-listado [hidden]="!cargandoAutorizacion"></app-loading-listado>

    </div>
</ng-template>