<div class="row">
    <div class="control-section">
        <div id="control_wrapper">
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-12">
                        <h4 class="card-title">Formulario descuento articulos</h4>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 text-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-lg-10 col-12">
                    </div>
                    <div class="col-md-2 col-lg-2 col-12 text-right">
                    </div>
                </div>
                <form class="form-row " [formGroup]="Formulario" (ngSubmit)="onSubmit()">
                    <div class="form-group col-md-6">
                        <label> Nombre</label>
                        <input 
                            formControlName="nombre" 
                            type="text"  
                            name="nombre" 
                            [ngClass]="{'is-invalid' : submitted && f.nombre.errors,  'form-control':true  }" 
                            placeholder="Digite un nombre">
                        
                        <div class="invalid-feedback" *ngIf="submitted && f.nombre.errors">
                            <div *ngIf="f.nombre.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Objeto</label>
                        <ng-select  [items]="objetos" bindLabel="nombre"
                        [clearable]="false" bindValue="codigo" [loading]="loadingObjeto"
                        formControlName="objetoId" 
                        notFoundText="No resultados">
                    </ng-select>
                        <div class="invalid-feedback" *ngIf="submitted && f.objetoId.errors">
                            <div *ngIf="f.objetoId.errors.required">El campo es obligatorio</div>
                        </div>
                </div>
                    <div class="form-group col-md-4">
                        <label> Tipo Promoción Selección</label>
                             <ng-select [items]="promocionTipoSeleccion" bindLabel="nombre"
                                 [clearable]="false" bindValue="codigo" [loading]="loadingPromocionTipoSeleccion"
                                 formControlName="promocionTipoSeleccionId" 
                                 (change)="tipoPromocionSeleccion($event)"
                                 notFoundText="No resultados">
                             </ng-select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="promocionesTipoId">Tipo Promoción</label>
                        <ng-select [items]="tipoPromocion" bindLabel="nombre"
                        [clearable]="false" bindValue="codigo" [loading]="loadingTipoPromocion"
                        formControlName="promocionesTipoId" 
                        notFoundText="No resultados">
                    </ng-select>
                        <div class="invalid-feedback" *ngIf="submitted && f.promocionesTipoId.errors">
                            <div *ngIf="f.promocionesTipoId.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>
                    <div  class="form-group col-md-4">
                        <div class="form-group ">
                            <label> <i class="fa fa-calendar"></i> Fecha Desde</label>
                            <ejs-datepicker 
                            formControlName="fechaDesde"
                               [format]="'dd-MM-yyyy'"
                                [showClearButton]="false"></ejs-datepicker>
                        </div>
                        <div class="invalid-feedback" *ngIf="submitted && f.fechaDesde.errors">
                            <div *ngIf="f.fechaDesde.errors.required">El campo es obligatorio</div>
                        </div>
                        
                    </div>
                    <div  class="form-group col-md-4">
                        <div class="form-group ">
                            <label> <i class="fa fa-calendar"></i> Fecha Hasta</label>
                            <ejs-datepicker 
                            formControlName="fechaHasta"
                               [format]="'dd-MM-yyyy'"
                                [showClearButton]="false"></ejs-datepicker>
                        </div>
                        <div class="invalid-feedback" *ngIf="submitted && f.fechaHasta.errors">
                            <div *ngIf="f.fechaHasta.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>
                 

                    <div class="form-group col-md-8">
                            <label for="inputEmail4">Artículo Compra</label>
                            <ng-select  [items]="articulos" bindLabel="nombre"
                            [clearable]="false" bindValue="codigo" [loading]="loadingArticulos"
                            formControlName="articuloIdCompra" 
                        notFoundText="No resultados">
                        </ng-select>
                            <div class="invalid-feedback" *ngIf="submitted && f.articuloIdCompra.errors">
                                <div *ngIf="f.articuloIdCompra.errors.required">El campo es obligatorio</div>
                            </div>
                    </div>
                    <div  class="form-group col-md-2">
                        <label for="porciento">Condición 1</label>
                        <input formControlName="condicion1" 
                        type="number"  
                        name="condicion1" 
                            [ngClass]="{'is-invalid' : submitted && f.condicion1.errors,  'form-control':true  }" placeholder="">
                        <div class="invalid-feedback" *ngIf="submitted && f.condicion1.errors">
                            <div *ngIf="f.condicion1.errors.required">El campo es obligatorio</div>
                        </div>
                        
                    </div>
                    <div  class="form-group col-md-2">
                        <label for="porciento">Condición 2</label>
                        <input formControlName="condicion2" 
                        type="number"  
                        name="condicion2" 
                            [ngClass]="{'is-invalid' : submitted && f.condicion1.errors,  'form-control':true  }" placeholder="">
                        <div class="invalid-feedback" *ngIf="submitted && f.condicion2.errors">
                            <div *ngIf="f.condicion2.errors.required">El campo es obligatorio</div>
                        </div>
                        
                    </div>
                    <div  class="form-group col-md-2">
                        <label for="condicionBase">Condición Base</label>
                        <input formControlName="condicionBase" 
                        type="number"  
                        name="condicionBase" 
                            [ngClass]="{'is-invalid' : submitted && f.condicionBase.errors,  'form-control':true  }" 
                            placeholder="">
                        <div class="invalid-feedback" *ngIf="submitted && f.condicionBase.errors">
                            <div *ngIf="f.condicionBase.errors.required">El campo es obligatorio</div>
                        </div>
                        
                    </div>

                    <div class="form-group col-md-8">
                        <label for="inputEmail4">Artículo Regala</label>
                        <ng-select  [items]="articulos" bindLabel="nombre"
                        [clearable]="false" bindValue="codigo" [loading]="loadingArticulos"
                        formControlName="articuloIdRegala" 
                    notFoundText="No resultados">
                    </ng-select>
                        <div class="invalid-feedback" *ngIf="submitted && f.articuloIdRegala.errors">
                            <div *ngIf="f.articuloIdRegala.errors.required">El campo es obligatorio</div>
                        </div>
                </div>
                   
                    <div  class="form-group col-md-2">
                        <label for="porciento">Cantidad a Regalar</label>
                        <input formControlName="cantidadRegala" 
                        type="number"  
                        name="cantidadRegala" 
                            [ngClass]="{'is-invalid' : submitted && f.cantidadRegala.errors,  'form-control':true  }" placeholder="">
                        <div class="invalid-feedback" *ngIf="submitted && f.cantidadRegala.errors">
                            <div *ngIf="f.cantidadRegala.errors.required">El campo es obligatorio</div>
                        </div>
                        
                    </div>

                <div *ngIf="filtro === 'CanalId'" class="form-group col-md-4">
                    <label for="canalId">Canal</label>
                    <ng-select [items]="canales" bindLabel="nombre"
                    [clearable]="false" bindValue="codigo" [loading]="loadingcanales"
                    formControlName="canalId" 
                notFoundText="No resultados">
                </ng-select>
                    <div class="invalid-feedback" *ngIf="submitted && f.canalId.errors">
                        <div *ngIf="f.canalId.errors.required">El campo es obligatorio</div>
                    </div>
              </div>

               <div class="form-group col-md-4">
                    <label for="canalId">Estado</label>
                        <ng-select [items]="estados" bindLabel="nombre"
                            [clearable]="false" bindValue="codigo" [loading]="loadingestados"
                            formControlName="estado" 
                            notFoundText="No resultados">
                        </ng-select>
                    <div class="invalid-feedback" *ngIf="submitted && f.estado.errors">
                        <div *ngIf="f.estado.errors.required">El campo es obligatorio</div>
                    </div>
               </div>
               <div class="form-group col-md-4">
                <label for="inputEmail4">Canal</label>
                <ng-select [items]="canales" bindLabel="nombre"
                        [clearable]="false" bindValue="codigo" [loading]="loadingcanales"
                        formControlName="canalId" 
                        [(ngModel)]="canal"
                        (change)="canalSeleccionado()"
                        notFoundText="No resultados">
                </ng-select>
                    <div class="invalid-feedback" *ngIf="submitted && f.canalId.errors">
                        <div *ngIf="f.canalId.errors.required">El campo es obligatorio</div>
                    </div>
               </div>
               <div class="form-group col-md-12">
                <label for="entidad">Entidad</label>
                <ng-multiselect-dropdown
                    [placeholder]="'Seleccione las entidades de descuento'"
                    [settings]="dropdownSettings"
                    [data]="entidades"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="selectedItems"
                   
                    >
               </ng-multiselect-dropdown>   
             </div>
     
                    <div class="form-group text-right col-md-12">
                        <hr />
                        <button class="btn btn-light m-1" routerLink="../" type="button">
                            <i class="fas fa-times"></i> Cancelar
                        </button>
                        <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="submit">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                        <!-- boton cargando -->
                        <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span> Guardando
                        </button>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
