.input_fecha{
  height: 50px;
 }

//  .input_limite_credito{
//      background-color: #FEF5E7;
//      font-weight: 500;
//      font-size: 20px;
//      height: 50px;
//  }

 .ng-select.customSelect_almacen {
     height: 50px !important;
 }
 .ng-select.customSelect_almacen .ng-select-container  {
     height: 50px !important;
 }

 .ng-select.customSelect_almacen ::ng-deep .ng-select-container  {
     height: 50px !important;
 }
