<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-7">
                        <ngx-barcode [bc-height]="50" [bc-value]="codigoBarra" [bc-display-value]="true">
                        </ngx-barcode>
                        <!-- <h2 class="card-title"><span class="badge badge-info">TA123</span></h2>
                        <h6 class="card-subtitle">Turno actual</h6> -->
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title m-t-40">Información General </h3>
                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                    <tr>
                                        <th scope="row">Producto</th>
                                        <td>10001 | Salami Buen Dia </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peso Neto</th>
                                        <td>369.25 Lb</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Vencimiento</th>
                                        <td>12 Feb 2021</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Almacén</th>
                                        <td>Almacén general</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CANASTILLA ROJA PLANTA </th>
                                        <td>15.25 Lb</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">PALETAS PLASTICAS IPS PPP 1200X1000 GRIS
                                        </th>
                                        <td>15.25 Lb</td>
                                    </tr>
                                    <!-- <tr>
                                        <th scope="row">Chasis</th>
                                        <td>XXXXXXXXXXXXX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Año</th>
                                        <td>2021</td>
                                    </tr> -->

                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>