<div class="row">
    <div class="control-section">
        <div id="control_wrapper">
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-12">
                        <h4 class="card-title">Formulario de almacenes</h4>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 text-right">
                    </div>
                </div>
                <!--<h6 class="card-subtitle">Just add <code>form-material</code> class to the form that's it.</h6>-->
                <form class="form-row m-t-40" [formGroup]="Formulario" (ngSubmit)="onSubmit()">

                    <div class="form-group col-md-4">
                        <label for="nombre"> Nombre</label>
                        <input formControlName="nombre" type="text" name="nombre" id="nombre"
                            [ngClass]="{'is-invalid' : submitted && f.nombre.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.nombre.errors">
                            <div *ngIf="f.nombre.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="codigoReferencia"> <i class="fa fa-hashtag"></i> Código de Referencia</label>
                        <input formControlName="codigoReferencia" type="text" name="codigoReferencia"
                            id="codigoReferencia"
                            [ngClass]="{'is-invalid' : submitted && f.codigoReferencia.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.codigoReferencia.errors">
                            <div *ngIf="f.codigoReferencia.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="example-email">Sucursal</label>
                        <ng-select [items]="sucursales" bindLabel="nombre" bindValue="codigo"
                            [loading]="loadingSucursales"
                            [ngClass]="{'form-control border-danger p-0' : submitted && f.sucursalID.errors }"
                            notFoundText="No resultados" formControlName="sucursalID">
                        </ng-select>
                        <div *ngIf="submitted && f.sucursalID.errors"
                            class="text-danger small animated animated--fade-in">
                            <div *ngIf="f.sucursalID.errors.required  ">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="descripcion"> Descripción</label>

                        <textarea formControlName="descripcion" class="form-control" name="descripcion" id="descripcion"
                            rows="5"></textarea>
                        <div class="invalid-feedback" *ngIf="submitted && f.descripcion.errors">
                            <div *ngIf="f.descripcion.errors.required">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group text-right col-md-12">
                        <hr />

                        <button class="btn btn-light m-1" routerLink="../" type="button">
                            <i class="fas fa-times"></i> Cancelar
                        </button>

                        <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="submit">
                            <i class="fas fa-check"></i> Guardar
                        </button>

                        <!-- boton cargando -->
                        <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span> Guardando
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>