<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6 align-middle">
                        <h4 class="card-title">Listado de ordenes de servicio</h4>
                    </div>
                    <!-- <div class="col-md-6 text-right">
                        <button [routerLink]="[0]" class="btn btn-info"> <i class="fa fa-plus"></i> Nuevo
                            modelo
                        </button>
                    </div> -->
                    <div class="col-md-12 p-2">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="search" class="input-group-text bg-white">
                                    <span class="bg-white" style="border-right:none">
                                        <i class="ti-search"></i>
                                    </span>
                                </label>
                            </div>
                            <input [(ngModel)]="Search" (keyup)="getData()" type="text"
                                style="border-left:none !important;" class="form-control" placeholder="Buscar">
                        </div>
                    </div>
                </div>
                <!-- <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6>-->
                <div class="table-responsive">
                    <table class="table table-hover mb-0 no-wrap v-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Orden</th>
                                <th>Asesor</th>
                                <th>Receptor</th>
                                <th>Cliente</th>
                                <th>Técnico</th>
                                <th>Vehículo</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody [hidden]="Cargando">

                            <tr *ngFor="let item of data">
                                <td>

                                    <a class="btn btn-sm btn-light m-1"
                                        *ngxPermissionsOnly="['servicios_ordenes_de_servicio_puede_editar_multipuntos']"
                                        [routerLink]="['/servicios/multipuntos', item.citaID]">
                                        <i class="fa fa-sm fa-car"></i>
                                    </a>

                                    <button type="button" class="btn btn-sm btn-light m-1"
                                        *ngxPermissionsOnly="['servicios_ordenes_de_servicio_puede_asignar_tecnico']"
                                        (click)="openModal(modalAsignaTecnico,item)">
                                        <i class="fa fa-sm fa-user"></i>
                                    </button>

                                    <a class="btn btn-sm btn-light m-1" target="_blank"
                                        [routerLink]="['/consultas/orden-servicio', item.citaID]">
                                        <i class="fa fa-sm fa-eye"></i>
                                    </a>

                                    <button type="button" class="btn btn-sm btn-light m-1"
                                        *ngIf="!item.ordenReferencia || item.ordenReferencia == undefined || item.ordenReferencia == '' || item.ordenReferencia.length == 0 "
                                        (click)="enviarOrdenSmartService(item.citaID)">
                                        <i class="fa fa-sm fa-sync"></i>
                                    </button>

                                    <button type="button" class="btn btn-sm btn-light m-1"
                                        *ngIf="!item.ordenReferencia || item.ordenReferencia == undefined || item.ordenReferencia == '' || item.ordenReferencia.length == 0 "
                                        (click)="buscarCodigoReferenciaOrdenSmart(item.citaID)">
                                        <i class="fa fa-sm fa-hashtag"></i>
                                    </button>

                                </td>

                                <td><span class="badge badge-light text-info ">{{item.ordenID}}</span></td>
                                <td><span class="badge badge-light text-dark ">{{item.ordenReferencia}}</span></td>
                                <td>
                                    <span>{{item.asesor}}</span>
                                </td>
                                <td>
                                    <span>{{item.receptor}}</span>
                                </td>
                                <td>
                                    <span>{{item.cliente}}</span>
                                </td>
                                <td>
                                    <span>{{item.tecnico}}</span>
                                </td>
                                <td>
                                    <span> <i class="fa fa-car text-muted"></i> {{item.vehiculo}}</span>
                                </td>
                                <td>
                                    <span> <i class="fa fa-calendar text-muted"></i>
                                        {{item.fechaRecepcion | date:'medium' }}</span>
                                </td>


                            </tr>

                        </tbody>
                    </table>

                </div>

                <app-loading-listado [hidden]="!Cargando"></app-loading-listado>

                <div class="row ">
                    <div class="col-md-8 col-xs-12 ">
                        <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual"
                            [pageSize]="paginaSize" [maxSize]="5" [boundaryLinks]="true" (pageChange)="getData()">
                        </ngb-pagination>
                    </div>

                    <div class="col-md-4 text-right d-none d-md-block  ">
                        <select class="form-control d-block" name="paginaSize" [(ngModel)]="paginaSize"
                            (change)="getData()">
                            <option [ngValue]="5">5 registro por pagina</option>
                            <option [ngValue]="10">10 registro por pagina</option>
                            <option [ngValue]="15">15 registro por pagina</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<ng-template #modalAsignaTecnico let-modal>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">Asignación de técnico</h4>
                    <button type="button" class="close" aria-describedby="modal-title"
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for=""> <i class="fa fa-calendar-alt"></i> Técnico </label>
                            <ng-select bindLabel="nombre" bindValue="codigo" [items]="tecnicos"
                                [(ngModel)]="idTecnicoSeleccionado" [loading]="loadingTecnicos" [clearable]="false"
                                notFoundText="No resultados">
                            </ng-select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary"
                        (click)="modal.close('Close click')">Cancel</button>
                    <button type="button" (click)="asignarTecnico()" class="btn btn-info">Guardar</button>
                </div>
            </div>
        </div>

        <!-- <app-loading-listado [hidden]="!CargandoDelete"></app-loading-listado> -->

    </div>
</ng-template>