.border_NoSubido{
    border-color: #F4D03F !important;
}

.border_Subido{
    border-color: gainsboro !important;
}
.pending_subirp{
    background-color: #F4D03F;
    color:white ;
}

.span_text_subir{
    font-size:10px ;
    font-weight: 600;
}

.container_anexos{
    min-height: 361px;
}

.no_hay_archivos{
    margin-top: 70px;
}

.form_finanzas{
    transition: all .3s ease-in;
}